web-service-clients/src/main/resources/META-INF/administrative-service.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.sola.org/administrative" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.sola.org/administrative" name="administrative-service" xmlns:sc="http://schemas.sun.com/2006/03/wss/client" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/transferobjects/digitalarchive/" schemaLocation="http://localhost:8080/sola/webservices/administrative-service?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/transferobjects/casemanagement/" schemaLocation="http://localhost:8080/sola/webservices/administrative-service?xsd=2"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/transferobjects/cadastre/" schemaLocation="http://localhost:8080/sola/webservices/administrative-service?xsd=3"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/transferobjects/administrative/" schemaLocation="http://localhost:8080/sola/webservices/administrative-service?xsd=4"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/transferobjects/" schemaLocation="http://localhost:8080/sola/webservices/administrative-service?xsd=5"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/faults/" schemaLocation="http://localhost:8080/sola/webservices/administrative-service?xsd=6"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/bulkoperations" schemaLocation="http://localhost:8080/sola/webservices/administrative-service?xsd=7"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/administrative" schemaLocation="http://localhost:8080/sola/webservices/administrative-service?xsd=8"/>
</xsd:schema>
</types>
<message name="CreateBaUnit">
<part name="parameters" element="tns:CreateBaUnit"/>
</message>
<message name="CreateBaUnitResponse">
<part name="parameters" element="tns:CreateBaUnitResponse"/>
</message>
<message name="SOLAFault">
<part name="fault" element="tns:SOLAFault"/>
</message>
<message name="UnhandledFault">
<part name="fault" element="tns:UnhandledFault"/>
</message>
<message name="SOLAAccessFault">
<part name="fault" element="tns:SOLAAccessFault"/>
</message>
<message name="OptimisticLockingFault">
<part name="fault" element="tns:OptimisticLockingFault"/>
</message>
<message name="SaveBaUnit">
<part name="parameters" element="tns:SaveBaUnit"/>
</message>
<message name="SaveBaUnitResponse">
<part name="parameters" element="tns:SaveBaUnitResponse"/>
</message>
<message name="GetSysRegPubDisParcelNameByLocation">
<part name="parameters" element="tns:GetSysRegPubDisParcelNameByLocation"/>
</message>
<message name="GetSysRegPubDisParcelNameByLocationResponse">
<part name="parameters" element="tns:GetSysRegPubDisParcelNameByLocationResponse"/>
</message>
<message name="SOLAValidationFault">
<part name="fault" element="tns:SOLAValidationFault"/>
</message>
<message name="GetSysRegPubDisOwnerNameByLocation">
<part name="parameters" element="tns:GetSysRegPubDisOwnerNameByLocation"/>
</message>
<message name="GetSysRegPubDisOwnerNameByLocationResponse">
<part name="parameters" element="tns:GetSysRegPubDisOwnerNameByLocationResponse"/>
</message>
<message name="GetSysRegPubDisStateLandByLocation">
<part name="parameters" element="tns:GetSysRegPubDisStateLandByLocation"/>
</message>
<message name="GetSysRegPubDisStateLandByLocationResponse">
<part name="parameters" element="tns:GetSysRegPubDisStateLandByLocationResponse"/>
</message>
<message name="CheckConnection">
<part name="parameters" element="tns:CheckConnection"/>
</message>
<message name="CheckConnectionResponse">
<part name="parameters" element="tns:CheckConnectionResponse"/>
</message>
<message name="TerminateBaUnit">
<part name="parameters" element="tns:TerminateBaUnit"/>
</message>
<message name="TerminateBaUnitResponse">
<part name="parameters" element="tns:TerminateBaUnitResponse"/>
</message>
<message name="CancelBaUnitTermination">
<part name="parameters" element="tns:CancelBaUnitTermination"/>
</message>
<message name="CancelBaUnitTerminationResponse">
<part name="parameters" element="tns:CancelBaUnitTerminationResponse"/>
</message>
<message name="GetBaUnitById">
<part name="parameters" element="tns:GetBaUnitById"/>
</message>
<message name="GetBaUnitByIdResponse">
<part name="parameters" element="tns:GetBaUnitByIdResponse"/>
</message>
<message name="GetBaUnitsByServiceId">
<part name="parameters" element="tns:GetBaUnitsByServiceId"/>
</message>
<message name="GetBaUnitsByServiceIdResponse">
<part name="parameters" element="tns:GetBaUnitsByServiceIdResponse"/>
</message>
<message name="GetBaUnitByCode">
<part name="parameters" element="tns:GetBaUnitByCode"/>
</message>
<message name="GetBaUnitByCodeResponse">
<part name="parameters" element="tns:GetBaUnitByCodeResponse"/>
</message>
<message name="GetBaUnitAreas">
<part name="parameters" element="tns:GetBaUnitAreas"/>
</message>
<message name="GetBaUnitAreasResponse">
<part name="parameters" element="tns:GetBaUnitAreasResponse"/>
</message>
<message name="CreateBaUnitArea">
<part name="parameters" element="tns:CreateBaUnitArea"/>
</message>
<message name="CreateBaUnitAreaResponse">
<part name="parameters" element="tns:CreateBaUnitAreaResponse"/>
</message>
<message name="GetBaUnitWithCadObject">
<part name="parameters" element="tns:GetBaUnitWithCadObject"/>
</message>
<message name="GetBaUnitWithCadObjectResponse">
<part name="parameters" element="tns:GetBaUnitWithCadObjectResponse"/>
</message>
<message name="PublicDisplay">
<part name="parameters" element="tns:PublicDisplay"/>
</message>
<message name="PublicDisplayResponse">
<part name="parameters" element="tns:PublicDisplayResponse"/>
</message>
<message name="GetSysRegManagement">
<part name="parameters" element="tns:GetSysRegManagement"/>
</message>
<message name="GetSysRegManagementResponse">
<part name="parameters" element="tns:GetSysRegManagementResponse"/>
</message>
<message name="GetSysRegStatus">
<part name="parameters" element="tns:GetSysRegStatus"/>
</message>
<message name="GetSysRegStatusResponse">
<part name="parameters" element="tns:GetSysRegStatusResponse"/>
</message>
<message name="GetSysRegProgress">
<part name="parameters" element="tns:GetSysRegProgress"/>
</message>
<message name="GetSysRegProgressResponse">
<part name="parameters" element="tns:GetSysRegProgressResponse"/>
</message>
<portType name="Administrative">
<operation name="CreateBaUnit">
<input wsam:Action="http://webservices.sola.org/administrative/Administrative/CreateBaUnitRequest" message="tns:CreateBaUnit"/>
<output wsam:Action="http://webservices.sola.org/administrative/Administrative/CreateBaUnitResponse" message="tns:CreateBaUnitResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/CreateBaUnit/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/CreateBaUnit/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/CreateBaUnit/Fault/SOLAAccessFault"/>
<fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/CreateBaUnit/Fault/OptimisticLockingFault"/>
</operation>
<operation name="SaveBaUnit">
<input wsam:Action="http://webservices.sola.org/administrative/Administrative/SaveBaUnitRequest" message="tns:SaveBaUnit"/>
<output wsam:Action="http://webservices.sola.org/administrative/Administrative/SaveBaUnitResponse" message="tns:SaveBaUnitResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/SaveBaUnit/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/SaveBaUnit/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/SaveBaUnit/Fault/SOLAAccessFault"/>
<fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/SaveBaUnit/Fault/OptimisticLockingFault"/>
</operation>
<operation name="GetSysRegPubDisParcelNameByLocation">
<input wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegPubDisParcelNameByLocationRequest" message="tns:GetSysRegPubDisParcelNameByLocation"/>
<output wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegPubDisParcelNameByLocationResponse" message="tns:GetSysRegPubDisParcelNameByLocationResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegPubDisParcelNameByLocation/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegPubDisParcelNameByLocation/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegPubDisParcelNameByLocation/Fault/SOLAAccessFault"/>
<fault message="tns:SOLAValidationFault" name="SOLAValidationFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegPubDisParcelNameByLocation/Fault/SOLAValidationFault"/>
<fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegPubDisParcelNameByLocation/Fault/OptimisticLockingFault"/>
</operation>
<operation name="GetSysRegPubDisOwnerNameByLocation">
<input wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegPubDisOwnerNameByLocationRequest" message="tns:GetSysRegPubDisOwnerNameByLocation"/>
<output wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegPubDisOwnerNameByLocationResponse" message="tns:GetSysRegPubDisOwnerNameByLocationResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegPubDisOwnerNameByLocation/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegPubDisOwnerNameByLocation/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegPubDisOwnerNameByLocation/Fault/SOLAAccessFault"/>
<fault message="tns:SOLAValidationFault" name="SOLAValidationFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegPubDisOwnerNameByLocation/Fault/SOLAValidationFault"/>
<fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegPubDisOwnerNameByLocation/Fault/OptimisticLockingFault"/>
</operation>
<operation name="GetSysRegPubDisStateLandByLocation">
<input wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegPubDisStateLandByLocationRequest" message="tns:GetSysRegPubDisStateLandByLocation"/>
<output wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegPubDisStateLandByLocationResponse" message="tns:GetSysRegPubDisStateLandByLocationResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegPubDisStateLandByLocation/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegPubDisStateLandByLocation/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegPubDisStateLandByLocation/Fault/SOLAAccessFault"/>
<fault message="tns:SOLAValidationFault" name="SOLAValidationFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegPubDisStateLandByLocation/Fault/SOLAValidationFault"/>
<fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegPubDisStateLandByLocation/Fault/OptimisticLockingFault"/>
</operation>
<operation name="CheckConnection">
<input wsam:Action="http://webservices.sola.org/administrative/Administrative/CheckConnectionRequest" message="tns:CheckConnection"/>
<output wsam:Action="http://webservices.sola.org/administrative/Administrative/CheckConnectionResponse" message="tns:CheckConnectionResponse"/>
</operation>
<operation name="TerminateBaUnit">
<input wsam:Action="http://webservices.sola.org/administrative/Administrative/TerminateBaUnitRequest" message="tns:TerminateBaUnit"/>
<output wsam:Action="http://webservices.sola.org/administrative/Administrative/TerminateBaUnitResponse" message="tns:TerminateBaUnitResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/TerminateBaUnit/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/TerminateBaUnit/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/TerminateBaUnit/Fault/SOLAAccessFault"/>
<fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/TerminateBaUnit/Fault/OptimisticLockingFault"/>
<fault message="tns:SOLAValidationFault" name="SOLAValidationFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/TerminateBaUnit/Fault/SOLAValidationFault"/>
</operation>
<operation name="CancelBaUnitTermination">
<input wsam:Action="http://webservices.sola.org/administrative/Administrative/CancelBaUnitTerminationRequest" message="tns:CancelBaUnitTermination"/>
<output wsam:Action="http://webservices.sola.org/administrative/Administrative/CancelBaUnitTerminationResponse" message="tns:CancelBaUnitTerminationResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/CancelBaUnitTermination/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/CancelBaUnitTermination/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/CancelBaUnitTermination/Fault/SOLAAccessFault"/>
<fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/CancelBaUnitTermination/Fault/OptimisticLockingFault"/>
<fault message="tns:SOLAValidationFault" name="SOLAValidationFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/CancelBaUnitTermination/Fault/SOLAValidationFault"/>
</operation>
<operation name="GetBaUnitById">
<input wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitByIdRequest" message="tns:GetBaUnitById"/>
<output wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitByIdResponse" message="tns:GetBaUnitByIdResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitById/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitById/Fault/UnhandledFault"/>
</operation>
<operation name="GetBaUnitsByServiceId">
<input wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitsByServiceIdRequest" message="tns:GetBaUnitsByServiceId"/>
<output wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitsByServiceIdResponse" message="tns:GetBaUnitsByServiceIdResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitsByServiceId/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitsByServiceId/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitsByServiceId/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetBaUnitByCode">
<input wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitByCodeRequest" message="tns:GetBaUnitByCode"/>
<output wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitByCodeResponse" message="tns:GetBaUnitByCodeResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitByCode/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitByCode/Fault/UnhandledFault"/>
</operation>
<operation name="GetBaUnitAreas">
<input wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitAreasRequest" message="tns:GetBaUnitAreas"/>
<output wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitAreasResponse" message="tns:GetBaUnitAreasResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitAreas/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitAreas/Fault/UnhandledFault"/>
</operation>
<operation name="CreateBaUnitArea">
<input wsam:Action="http://webservices.sola.org/administrative/Administrative/CreateBaUnitAreaRequest" message="tns:CreateBaUnitArea"/>
<output wsam:Action="http://webservices.sola.org/administrative/Administrative/CreateBaUnitAreaResponse" message="tns:CreateBaUnitAreaResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/CreateBaUnitArea/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/CreateBaUnitArea/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/CreateBaUnitArea/Fault/SOLAAccessFault"/>
<fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/CreateBaUnitArea/Fault/OptimisticLockingFault"/>
</operation>
<operation name="GetBaUnitWithCadObject">
<input wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitWithCadObjectRequest" message="tns:GetBaUnitWithCadObject"/>
<output wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitWithCadObjectResponse" message="tns:GetBaUnitWithCadObjectResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitWithCadObject/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitWithCadObject/Fault/UnhandledFault"/>
</operation>
<operation name="PublicDisplay">
<input wsam:Action="http://webservices.sola.org/administrative/Administrative/PublicDisplayRequest" message="tns:PublicDisplay"/>
<output wsam:Action="http://webservices.sola.org/administrative/Administrative/PublicDisplayResponse" message="tns:PublicDisplayResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/PublicDisplay/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/PublicDisplay/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/PublicDisplay/Fault/SOLAAccessFault"/>
<fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/PublicDisplay/Fault/OptimisticLockingFault"/>
<fault message="tns:SOLAValidationFault" name="SOLAValidationFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/PublicDisplay/Fault/SOLAValidationFault"/>
</operation>
<operation name="GetSysRegManagement">
<input wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegManagementRequest" message="tns:GetSysRegManagement"/>
<output wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegManagementResponse" message="tns:GetSysRegManagementResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegManagement/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegManagement/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegManagement/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetSysRegStatus">
<input wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegStatusRequest" message="tns:GetSysRegStatus"/>
<output wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegStatusResponse" message="tns:GetSysRegStatusResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegStatus/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegStatus/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegStatus/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetSysRegProgress">
<input wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegProgressRequest" message="tns:GetSysRegProgress"/>
<output wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegProgressResponse" message="tns:GetSysRegProgressResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegProgress/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegProgress/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetSysRegProgress/Fault/SOLAAccessFault"/>
</operation>
</portType>
<binding name="AdministrativePortBinding" type="tns:Administrative">
    <wsp:PolicyReference URI="#AdministrativePortBindingPolicy"/>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="CreateBaUnit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
<fault name="OptimisticLockingFault">
<soap:fault name="OptimisticLockingFault" use="literal"/>
</fault>
</operation>
<operation name="SaveBaUnit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
<fault name="OptimisticLockingFault">
<soap:fault name="OptimisticLockingFault" use="literal"/>
</fault>
</operation>
<operation name="GetSysRegPubDisParcelNameByLocation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
<fault name="SOLAValidationFault">
<soap:fault name="SOLAValidationFault" use="literal"/>
</fault>
<fault name="OptimisticLockingFault">
<soap:fault name="OptimisticLockingFault" use="literal"/>
</fault>
</operation>
<operation name="GetSysRegPubDisOwnerNameByLocation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
<fault name="SOLAValidationFault">
<soap:fault name="SOLAValidationFault" use="literal"/>
</fault>
<fault name="OptimisticLockingFault">
<soap:fault name="OptimisticLockingFault" use="literal"/>
</fault>
</operation>
<operation name="GetSysRegPubDisStateLandByLocation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
<fault name="SOLAValidationFault">
<soap:fault name="SOLAValidationFault" use="literal"/>
</fault>
<fault name="OptimisticLockingFault">
<soap:fault name="OptimisticLockingFault" use="literal"/>
</fault>
</operation>
<operation name="CheckConnection">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="TerminateBaUnit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
<fault name="OptimisticLockingFault">
<soap:fault name="OptimisticLockingFault" use="literal"/>
</fault>
<fault name="SOLAValidationFault">
<soap:fault name="SOLAValidationFault" use="literal"/>
</fault>
</operation>
<operation name="CancelBaUnitTermination">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
<fault name="OptimisticLockingFault">
<soap:fault name="OptimisticLockingFault" use="literal"/>
</fault>
<fault name="SOLAValidationFault">
<soap:fault name="SOLAValidationFault" use="literal"/>
</fault>
</operation>
<operation name="GetBaUnitById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
</operation>
<operation name="GetBaUnitsByServiceId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetBaUnitByCode">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
</operation>
<operation name="GetBaUnitAreas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
</operation>
<operation name="CreateBaUnitArea">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
<fault name="OptimisticLockingFault">
<soap:fault name="OptimisticLockingFault" use="literal"/>
</fault>
</operation>
<operation name="GetBaUnitWithCadObject">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
</operation>
<operation name="PublicDisplay">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
<fault name="OptimisticLockingFault">
<soap:fault name="OptimisticLockingFault" use="literal"/>
</fault>
<fault name="SOLAValidationFault">
<soap:fault name="SOLAValidationFault" use="literal"/>
</fault>
</operation>
<operation name="GetSysRegManagement">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetSysRegStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetSysRegProgress">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
</binding>
<service name="administrative-service">
<port name="AdministrativePort" binding="tns:AdministrativePortBinding">
<soap:address location="http://localhost:8080/sola/webservices/administrative-service"/>
</port>
</service>
    <wsp:Policy wsu:Id="AdministrativePortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sc:TrustStore wspp:visibility="private" type="JKS" storepass="${wsit.truststore.storepass}" peeralias="${wsit.truststore.peeralias}" location="${wsit.truststore.location}"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>