web-service-clients/src/main/resources/META-INF/admin-service.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.sola.org/admin" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.sola.org/admin" name="admin-service" xmlns:sc="http://schemas.sun.com/2006/03/wss/client" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://webservices.sola.org/transferobjects/security/" schemaLocation="http://localhost:8080/sola/webservices/admin-service?xsd=1"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://webservices.sola.org/transferobjects/" schemaLocation="http://localhost:8080/sola/webservices/admin-service?xsd=2"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://webservices.sola.org/faults/" schemaLocation="http://localhost:8080/sola/webservices/admin-service?xsd=3"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://webservices.sola.org/administrative" schemaLocation="http://localhost:8080/sola/webservices/admin-service?xsd=4"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://webservices.sola.org/admin" schemaLocation="http://localhost:8080/sola/webservices/admin-service?xsd=5"/>
        </xsd:schema>
    </types>
    <message name="CheckConnection">
        <part name="parameters" element="tns:CheckConnection"/>
    </message>
    <message name="CheckConnectionResponse">
        <part name="parameters" element="tns:CheckConnectionResponse"/>
    </message>
    <message name="GetGroupsSummary">
        <part name="parameters" element="tns:GetGroupsSummary"/>
    </message>
    <message name="GetGroupsSummaryResponse">
        <part name="parameters" element="tns:GetGroupsSummaryResponse"/>
    </message>
    <message name="SOLAFault">
        <part name="fault" element="tns:SOLAFault"/>
    </message>
    <message name="UnhandledFault">
        <part name="fault" element="tns:UnhandledFault"/>
    </message>
    <message name="SOLAAccessFault">
        <part name="fault" element="tns:SOLAAccessFault"/>
    </message>
    <message name="GetCurrentUser">
        <part name="parameters" element="tns:GetCurrentUser"/>
    </message>
    <message name="GetCurrentUserResponse">
        <part name="parameters" element="tns:GetCurrentUserResponse"/>
    </message>
    <message name="GetCurrentUserRoles">
        <part name="parameters" element="tns:GetCurrentUserRoles"/>
    </message>
    <message name="GetCurrentUserRolesResponse">
        <part name="parameters" element="tns:GetCurrentUserRolesResponse"/>
    </message>
    <message name="ChangePassword">
        <part name="parameters" element="tns:ChangePassword"/>
    </message>
    <message name="ChangePasswordResponse">
        <part name="parameters" element="tns:ChangePasswordResponse"/>
    </message>
    <message name="OptimisticLockingFault">
        <part name="fault" element="tns:OptimisticLockingFault"/>
    </message>
    <message name="GetLanguages">
        <part name="parameters" element="tns:GetLanguages"/>
    </message>
    <message name="GetLanguagesResponse">
        <part name="parameters" element="tns:GetLanguagesResponse"/>
    </message>
    <message name="GetUser">
        <part name="parameters" element="tns:GetUser"/>
    </message>
    <message name="GetUserResponse">
        <part name="parameters" element="tns:GetUserResponse"/>
    </message>
    <message name="SaveUser">
        <part name="parameters" element="tns:SaveUser"/>
    </message>
    <message name="SaveUserResponse">
        <part name="parameters" element="tns:SaveUserResponse"/>
    </message>
    <message name="GetGroups">
        <part name="parameters" element="tns:GetGroups"/>
    </message>
    <message name="GetGroupsResponse">
        <part name="parameters" element="tns:GetGroupsResponse"/>
    </message>
    <message name="GetGroup">
        <part name="parameters" element="tns:GetGroup"/>
    </message>
    <message name="GetGroupResponse">
        <part name="parameters" element="tns:GetGroupResponse"/>
    </message>
    <message name="SaveGroup">
        <part name="parameters" element="tns:SaveGroup"/>
    </message>
    <message name="SaveGroupResponse">
        <part name="parameters" element="tns:SaveGroupResponse"/>
    </message>
    <message name="GetRoles">
        <part name="parameters" element="tns:GetRoles"/>
    </message>
    <message name="GetRolesResponse">
        <part name="parameters" element="tns:GetRolesResponse"/>
    </message>
    <message name="SaveRole">
        <part name="parameters" element="tns:SaveRole"/>
    </message>
    <message name="SaveRoleResponse">
        <part name="parameters" element="tns:SaveRoleResponse"/>
    </message>
    <message name="IsUserAdmin">
        <part name="parameters" element="tns:IsUserAdmin"/>
    </message>
    <message name="IsUserAdminResponse">
        <part name="parameters" element="tns:IsUserAdminResponse"/>
    </message>
    <message name="GetBr">
        <part name="parameters" element="tns:GetBr"/>
    </message>
    <message name="GetBrResponse">
        <part name="parameters" element="tns:GetBrResponse"/>
    </message>
    <message name="SaveBr">
        <part name="parameters" element="tns:SaveBr"/>
    </message>
    <message name="SaveBrResponse">
        <part name="parameters" element="tns:SaveBrResponse"/>
    </message>
    <message name="SOLAValidationFault">
        <part name="fault" element="tns:SOLAValidationFault"/>
    </message>
    <portType name="Admin">
        <operation name="CheckConnection">
            <input wsam:Action="http://webservices.sola.org/admin/Admin/CheckConnectionRequest" message="tns:CheckConnection"/>
            <output wsam:Action="http://webservices.sola.org/admin/Admin/CheckConnectionResponse" message="tns:CheckConnectionResponse"/>
        </operation>
        <operation name="GetGroupsSummary">
            <input wsam:Action="http://webservices.sola.org/admin/Admin/GetGroupsSummaryRequest" message="tns:GetGroupsSummary"/>
            <output wsam:Action="http://webservices.sola.org/admin/Admin/GetGroupsSummaryResponse" message="tns:GetGroupsSummaryResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/admin/Admin/GetGroupsSummary/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/admin/Admin/GetGroupsSummary/Fault/UnhandledFault"/>
            <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/admin/Admin/GetGroupsSummary/Fault/SOLAAccessFault"/>
        </operation>
        <operation name="GetCurrentUser">
            <input wsam:Action="http://webservices.sola.org/admin/Admin/GetCurrentUserRequest" message="tns:GetCurrentUser"/>
            <output wsam:Action="http://webservices.sola.org/admin/Admin/GetCurrentUserResponse" message="tns:GetCurrentUserResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/admin/Admin/GetCurrentUser/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/admin/Admin/GetCurrentUser/Fault/UnhandledFault"/>
        </operation>
        <operation name="GetCurrentUserRoles">
            <input wsam:Action="http://webservices.sola.org/admin/Admin/GetCurrentUserRolesRequest" message="tns:GetCurrentUserRoles"/>
            <output wsam:Action="http://webservices.sola.org/admin/Admin/GetCurrentUserRolesResponse" message="tns:GetCurrentUserRolesResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/admin/Admin/GetCurrentUserRoles/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/admin/Admin/GetCurrentUserRoles/Fault/UnhandledFault"/>
        </operation>
        <operation name="ChangePassword">
            <input wsam:Action="http://webservices.sola.org/admin/Admin/ChangePasswordRequest" message="tns:ChangePassword"/>
            <output wsam:Action="http://webservices.sola.org/admin/Admin/ChangePasswordResponse" message="tns:ChangePasswordResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/admin/Admin/ChangePassword/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/admin/Admin/ChangePassword/Fault/UnhandledFault"/>
            <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/admin/Admin/ChangePassword/Fault/SOLAAccessFault"/>
            <fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/admin/Admin/ChangePassword/Fault/OptimisticLockingFault"/>
        </operation>
        <operation name="GetLanguages">
            <input wsam:Action="http://webservices.sola.org/admin/Admin/GetLanguagesRequest" message="tns:GetLanguages"/>
            <output wsam:Action="http://webservices.sola.org/admin/Admin/GetLanguagesResponse" message="tns:GetLanguagesResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/admin/Admin/GetLanguages/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/admin/Admin/GetLanguages/Fault/UnhandledFault"/>
        </operation>
        <operation name="GetUser">
            <input wsam:Action="http://webservices.sola.org/admin/Admin/GetUserRequest" message="tns:GetUser"/>
            <output wsam:Action="http://webservices.sola.org/admin/Admin/GetUserResponse" message="tns:GetUserResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/admin/Admin/GetUser/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/admin/Admin/GetUser/Fault/UnhandledFault"/>
            <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/admin/Admin/GetUser/Fault/SOLAAccessFault"/>
        </operation>
        <operation name="SaveUser">
            <input wsam:Action="http://webservices.sola.org/admin/Admin/SaveUserRequest" message="tns:SaveUser"/>
            <output wsam:Action="http://webservices.sola.org/admin/Admin/SaveUserResponse" message="tns:SaveUserResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/admin/Admin/SaveUser/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/admin/Admin/SaveUser/Fault/UnhandledFault"/>
            <fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/admin/Admin/SaveUser/Fault/OptimisticLockingFault"/>
            <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/admin/Admin/SaveUser/Fault/SOLAAccessFault"/>
        </operation>
        <operation name="GetGroups">
            <input wsam:Action="http://webservices.sola.org/admin/Admin/GetGroupsRequest" message="tns:GetGroups"/>
            <output wsam:Action="http://webservices.sola.org/admin/Admin/GetGroupsResponse" message="tns:GetGroupsResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/admin/Admin/GetGroups/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/admin/Admin/GetGroups/Fault/UnhandledFault"/>
            <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/admin/Admin/GetGroups/Fault/SOLAAccessFault"/>
        </operation>
        <operation name="GetGroup">
            <input wsam:Action="http://webservices.sola.org/admin/Admin/GetGroupRequest" message="tns:GetGroup"/>
            <output wsam:Action="http://webservices.sola.org/admin/Admin/GetGroupResponse" message="tns:GetGroupResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/admin/Admin/GetGroup/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/admin/Admin/GetGroup/Fault/UnhandledFault"/>
            <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/admin/Admin/GetGroup/Fault/SOLAAccessFault"/>
        </operation>
        <operation name="SaveGroup">
            <input wsam:Action="http://webservices.sola.org/admin/Admin/SaveGroupRequest" message="tns:SaveGroup"/>
            <output wsam:Action="http://webservices.sola.org/admin/Admin/SaveGroupResponse" message="tns:SaveGroupResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/admin/Admin/SaveGroup/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/admin/Admin/SaveGroup/Fault/UnhandledFault"/>
            <fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/admin/Admin/SaveGroup/Fault/OptimisticLockingFault"/>
            <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/admin/Admin/SaveGroup/Fault/SOLAAccessFault"/>
        </operation>
        <operation name="GetRoles">
            <input wsam:Action="http://webservices.sola.org/admin/Admin/GetRolesRequest" message="tns:GetRoles"/>
            <output wsam:Action="http://webservices.sola.org/admin/Admin/GetRolesResponse" message="tns:GetRolesResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/admin/Admin/GetRoles/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/admin/Admin/GetRoles/Fault/UnhandledFault"/>
            <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/admin/Admin/GetRoles/Fault/SOLAAccessFault"/>
        </operation>
        <operation name="SaveRole">
            <input wsam:Action="http://webservices.sola.org/admin/Admin/SaveRoleRequest" message="tns:SaveRole"/>
            <output wsam:Action="http://webservices.sola.org/admin/Admin/SaveRoleResponse" message="tns:SaveRoleResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/admin/Admin/SaveRole/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/admin/Admin/SaveRole/Fault/UnhandledFault"/>
            <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/admin/Admin/SaveRole/Fault/SOLAAccessFault"/>
            <fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/admin/Admin/SaveRole/Fault/OptimisticLockingFault"/>
        </operation>
        <operation name="IsUserAdmin">
            <input wsam:Action="http://webservices.sola.org/admin/Admin/IsUserAdminRequest" message="tns:IsUserAdmin"/>
            <output wsam:Action="http://webservices.sola.org/admin/Admin/IsUserAdminResponse" message="tns:IsUserAdminResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/admin/Admin/IsUserAdmin/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/admin/Admin/IsUserAdmin/Fault/UnhandledFault"/>
        </operation>
        <operation name="GetBr">
            <input wsam:Action="http://webservices.sola.org/admin/Admin/GetBrRequest" message="tns:GetBr"/>
            <output wsam:Action="http://webservices.sola.org/admin/Admin/GetBrResponse" message="tns:GetBrResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/admin/Admin/GetBr/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/admin/Admin/GetBr/Fault/UnhandledFault"/>
            <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/admin/Admin/GetBr/Fault/SOLAAccessFault"/>
        </operation>
        <operation name="SaveBr">
            <input wsam:Action="http://webservices.sola.org/admin/Admin/SaveBrRequest" message="tns:SaveBr"/>
            <output wsam:Action="http://webservices.sola.org/admin/Admin/SaveBrResponse" message="tns:SaveBrResponse"/>
            <fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/admin/Admin/SaveBr/Fault/SOLAFault"/>
            <fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/admin/Admin/SaveBr/Fault/UnhandledFault"/>
            <fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/admin/Admin/SaveBr/Fault/SOLAAccessFault"/>
            <fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/admin/Admin/SaveBr/Fault/OptimisticLockingFault"/>
            <fault message="tns:SOLAValidationFault" name="SOLAValidationFault" wsam:Action="http://webservices.sola.org/admin/Admin/SaveBr/Fault/SOLAValidationFault"/>
        </operation>
    </portType>
    <binding name="AdminPortBinding" type="tns:Admin">
        <wsp:PolicyReference URI="#AdminPortBindingPolicy"/>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="CheckConnection">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="GetGroupsSummary">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
            <fault name="SOLAAccessFault">
                <soap:fault name="SOLAAccessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="GetCurrentUser">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
        </operation>
        <operation name="GetCurrentUserRoles">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
        </operation>
        <operation name="ChangePassword">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
            <fault name="SOLAAccessFault">
                <soap:fault name="SOLAAccessFault" use="literal"/>
            </fault>
            <fault name="OptimisticLockingFault">
                <soap:fault name="OptimisticLockingFault" use="literal"/>
            </fault>
        </operation>
        <operation name="GetLanguages">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
        </operation>
        <operation name="GetUser">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
            <fault name="SOLAAccessFault">
                <soap:fault name="SOLAAccessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="SaveUser">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
            <fault name="OptimisticLockingFault">
                <soap:fault name="OptimisticLockingFault" use="literal"/>
            </fault>
            <fault name="SOLAAccessFault">
                <soap:fault name="SOLAAccessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="GetGroups">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
            <fault name="SOLAAccessFault">
                <soap:fault name="SOLAAccessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="GetGroup">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
            <fault name="SOLAAccessFault">
                <soap:fault name="SOLAAccessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="SaveGroup">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
            <fault name="OptimisticLockingFault">
                <soap:fault name="OptimisticLockingFault" use="literal"/>
            </fault>
            <fault name="SOLAAccessFault">
                <soap:fault name="SOLAAccessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="GetRoles">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
            <fault name="SOLAAccessFault">
                <soap:fault name="SOLAAccessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="SaveRole">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
            <fault name="SOLAAccessFault">
                <soap:fault name="SOLAAccessFault" use="literal"/>
            </fault>
            <fault name="OptimisticLockingFault">
                <soap:fault name="OptimisticLockingFault" use="literal"/>
            </fault>
        </operation>
        <operation name="IsUserAdmin">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
        </operation>
        <operation name="GetBr">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
            <fault name="SOLAAccessFault">
                <soap:fault name="SOLAAccessFault" use="literal"/>
            </fault>
        </operation>
        <operation name="SaveBr">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOLAFault">
                <soap:fault name="SOLAFault" use="literal"/>
            </fault>
            <fault name="UnhandledFault">
                <soap:fault name="UnhandledFault" use="literal"/>
            </fault>
            <fault name="SOLAAccessFault">
                <soap:fault name="SOLAAccessFault" use="literal"/>
            </fault>
            <fault name="OptimisticLockingFault">
                <soap:fault name="OptimisticLockingFault" use="literal"/>
            </fault>
            <fault name="SOLAValidationFault">
                <soap:fault name="SOLAValidationFault" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="admin-service">
        <port name="AdminPort" binding="tns:AdminPortBinding">
            <soap:address location="http://localhost:8080/sola/webservices/admin-service"/>
        </port>
    </service>
    <wsp:Policy wsu:Id="AdminPortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sc:TrustStore wspp:visibility="private" type="JKS" storepass="${wsit.truststore.storepass}" peeralias="${wsit.truststore.peeralias}" location="${wsit.truststore.location}"/>           
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>