web-service-clients/src/main/resources/META-INF/administrative-service.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.sola.org/administrative" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.sola.org/administrative" name="administrative-service" xmlns:sc="http://schemas.sun.com/2006/03/wss/client" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/transferobjects/casemanagement/" schemaLocation="http://localhost:8080/sola/administrative-service?xsd=1" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/transferobjects/cadastre/" schemaLocation="http://localhost:8080/sola/administrative-service?xsd=2" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/transferobjects/administrative/" schemaLocation="http://localhost:8080/sola/administrative-service?xsd=3" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/transferobjects/" schemaLocation="http://localhost:8080/sola/administrative-service?xsd=4" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/faults/" schemaLocation="http://localhost:8080/sola/administrative-service?xsd=5" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/administrative" schemaLocation="http://localhost:8080/sola/administrative-service?xsd=6" />
</xsd:schema>
</types>
<message name="CheckConnection">
<part name="parameters" element="tns:CheckConnection" />
</message>
<message name="CheckConnectionResponse">
<part name="parameters" element="tns:CheckConnectionResponse" />
</message>
<message name="CreateBaUnit">
<part name="parameters" element="tns:CreateBaUnit" />
</message>
<message name="CreateBaUnitResponse">
<part name="parameters" element="tns:CreateBaUnitResponse" />
</message>
<message name="SOLAFault">
<part name="fault" element="tns:SOLAFault" />
</message>
<message name="UnhandledFault">
<part name="fault" element="tns:UnhandledFault" />
</message>
<message name="SaveBaUnit">
<part name="parameters" element="tns:SaveBaUnit" />
</message>
<message name="SaveBaUnitResponse">
<part name="parameters" element="tns:SaveBaUnitResponse" />
</message>
<message name="GetBaUnitById">
<part name="parameters" element="tns:GetBaUnitById" />
</message>
<message name="GetBaUnitByIdResponse">
<part name="parameters" element="tns:GetBaUnitByIdResponse" />
</message>
<message name="GetBaUnitByCode">
<part name="parameters" element="tns:GetBaUnitByCode" />
</message>
<message name="GetBaUnitByCodeResponse">
<part name="parameters" element="tns:GetBaUnitByCodeResponse" />
</message>
<portType name="Administrative">
<operation name="CheckConnection">
<input wsam:Action="http://webservices.sola.org/administrative/Administrative/CheckConnectionRequest" message="tns:CheckConnection" />
<output wsam:Action="http://webservices.sola.org/administrative/Administrative/CheckConnectionResponse" message="tns:CheckConnectionResponse" />
</operation>
<operation name="CreateBaUnit">
<input wsam:Action="http://webservices.sola.org/administrative/Administrative/CreateBaUnitRequest" message="tns:CreateBaUnit" />
<output wsam:Action="http://webservices.sola.org/administrative/Administrative/CreateBaUnitResponse" message="tns:CreateBaUnitResponse" />
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/CreateBaUnit/Fault/SOLAFault" />
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/CreateBaUnit/Fault/UnhandledFault" />
</operation>
<operation name="SaveBaUnit">
<input wsam:Action="http://webservices.sola.org/administrative/Administrative/SaveBaUnitRequest" message="tns:SaveBaUnit" />
<output wsam:Action="http://webservices.sola.org/administrative/Administrative/SaveBaUnitResponse" message="tns:SaveBaUnitResponse" />
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/SaveBaUnit/Fault/SOLAFault" />
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/SaveBaUnit/Fault/UnhandledFault" />
</operation>
<operation name="GetBaUnitById">
<input wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitByIdRequest" message="tns:GetBaUnitById" />
<output wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitByIdResponse" message="tns:GetBaUnitByIdResponse" />
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitById/Fault/SOLAFault" />
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitById/Fault/UnhandledFault" />
</operation>
<operation name="GetBaUnitByCode">
<input wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitByCodeRequest" message="tns:GetBaUnitByCode" />
<output wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitByCodeResponse" message="tns:GetBaUnitByCodeResponse" />
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitByCode/Fault/SOLAFault" />
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/administrative/Administrative/GetBaUnitByCode/Fault/UnhandledFault" />
</operation>
</portType>
<binding name="AdministrativePortBinding" type="tns:Administrative">
    <wsp:PolicyReference URI="#AdministrativePortBindingPolicy"/>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="CheckConnection">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="CreateBaUnit">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal" />
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal" />
</fault>
</operation>
<operation name="SaveBaUnit">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal" />
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal" />
</fault>
</operation>
<operation name="GetBaUnitById">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal" />
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal" />
</fault>
</operation>
<operation name="GetBaUnitByCode">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal" />
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal" />
</fault>
</operation>
</binding>
<service name="administrative-service">
<port name="AdministrativePort" binding="tns:AdministrativePortBinding">
<soap:address location="http://localhost:8080/sola/administrative-service" />
</port>
</service>
    <wsp:Policy wsu:Id="AdministrativePortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sc:TrustStore wspp:visibility="private" type="JKS" storepass="changeit" peeralias="xws-security-server" location="cacerts.jks"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>