web-service-clients/src/main/resources/META-INF/bulkoperations-service.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.sola.org/bulkoperations" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.sola.org/bulkoperations" name="bulkoperations-service" xmlns:sc="http://schemas.sun.com/2006/03/wss/client" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/transferobjects/transaction/" schemaLocation="http://localhost:8080/sola/webservices/bulkoperations-service?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/transferobjects/digitalarchive/" schemaLocation="http://localhost:8080/sola/webservices/bulkoperations-service?xsd=2"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/transferobjects/casemanagement/" schemaLocation="http://localhost:8080/sola/webservices/bulkoperations-service?xsd=3"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/transferobjects/cadastre/" schemaLocation="http://localhost:8080/sola/webservices/bulkoperations-service?xsd=4"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/transferobjects/" schemaLocation="http://localhost:8080/sola/webservices/bulkoperations-service?xsd=5"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/faults/" schemaLocation="http://localhost:8080/sola/webservices/bulkoperations-service?xsd=6"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/bulkoperations" schemaLocation="http://localhost:8080/sola/webservices/bulkoperations-service?xsd=7"/>
</xsd:schema>
</types>
<message name="GetTransactionBulkOperationSpatial">
<part name="parameters" element="tns:GetTransactionBulkOperationSpatial"/>
</message>
<message name="GetTransactionBulkOperationSpatialResponse">
<part name="parameters" element="tns:GetTransactionBulkOperationSpatialResponse"/>
</message>
<message name="SOLAFault">
<part name="fault" element="tns:SOLAFault"/>
</message>
<message name="UnhandledFault">
<part name="fault" element="tns:UnhandledFault"/>
</message>
<message name="SOLAAccessFault">
<part name="fault" element="tns:SOLAAccessFault"/>
</message>
<message name="SaveTransactionBulkOperationSpatial">
<part name="parameters" element="tns:SaveTransactionBulkOperationSpatial"/>
</message>
<message name="SaveTransactionBulkOperationSpatialResponse">
<part name="parameters" element="tns:SaveTransactionBulkOperationSpatialResponse"/>
</message>
<message name="SOLAValidationFault">
<part name="fault" element="tns:SOLAValidationFault"/>
</message>
<message name="OptimisticLockingFault">
<part name="fault" element="tns:OptimisticLockingFault"/>
</message>
<message name="SaveTransactionBulkOperationSource">
<part name="parameters" element="tns:SaveTransactionBulkOperationSource"/>
</message>
<message name="SaveTransactionBulkOperationSourceResponse">
<part name="parameters" element="tns:SaveTransactionBulkOperationSourceResponse"/>
</message>
<message name="CheckConnection">
<part name="parameters" element="tns:CheckConnection"/>
</message>
<message name="CheckConnectionResponse">
<part name="parameters" element="tns:CheckConnectionResponse"/>
</message>
<message name="RejectTransaction">
<part name="parameters" element="tns:RejectTransaction"/>
</message>
<message name="RejectTransactionResponse">
<part name="parameters" element="tns:RejectTransactionResponse"/>
</message>
<portType name="BulkOperations">
<operation name="GetTransactionBulkOperationSpatial">
<input wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/GetTransactionBulkOperationSpatialRequest" message="tns:GetTransactionBulkOperationSpatial"/>
<output wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/GetTransactionBulkOperationSpatialResponse" message="tns:GetTransactionBulkOperationSpatialResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/GetTransactionBulkOperationSpatial/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/GetTransactionBulkOperationSpatial/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/GetTransactionBulkOperationSpatial/Fault/SOLAAccessFault"/>
</operation>
<operation name="SaveTransactionBulkOperationSpatial">
<input wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/SaveTransactionBulkOperationSpatialRequest" message="tns:SaveTransactionBulkOperationSpatial"/>
<output wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/SaveTransactionBulkOperationSpatialResponse" message="tns:SaveTransactionBulkOperationSpatialResponse"/>
<fault message="tns:SOLAValidationFault" name="SOLAValidationFault" wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/SaveTransactionBulkOperationSpatial/Fault/SOLAValidationFault"/>
<fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/SaveTransactionBulkOperationSpatial/Fault/OptimisticLockingFault"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/SaveTransactionBulkOperationSpatial/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/SaveTransactionBulkOperationSpatial/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/SaveTransactionBulkOperationSpatial/Fault/SOLAAccessFault"/>
</operation>
<operation name="SaveTransactionBulkOperationSource">
<input wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/SaveTransactionBulkOperationSourceRequest" message="tns:SaveTransactionBulkOperationSource"/>
<output wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/SaveTransactionBulkOperationSourceResponse" message="tns:SaveTransactionBulkOperationSourceResponse"/>
<fault message="tns:SOLAValidationFault" name="SOLAValidationFault" wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/SaveTransactionBulkOperationSource/Fault/SOLAValidationFault"/>
<fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/SaveTransactionBulkOperationSource/Fault/OptimisticLockingFault"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/SaveTransactionBulkOperationSource/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/SaveTransactionBulkOperationSource/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/SaveTransactionBulkOperationSource/Fault/SOLAAccessFault"/>
</operation>
<operation name="CheckConnection">
<input wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/CheckConnectionRequest" message="tns:CheckConnection"/>
<output wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/CheckConnectionResponse" message="tns:CheckConnectionResponse"/>
</operation>
<operation name="RejectTransaction">
<input wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/RejectTransactionRequest" message="tns:RejectTransaction"/>
<output wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/RejectTransactionResponse" message="tns:RejectTransactionResponse"/>
<fault message="tns:SOLAValidationFault" name="SOLAValidationFault" wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/RejectTransaction/Fault/SOLAValidationFault"/>
<fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/RejectTransaction/Fault/OptimisticLockingFault"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/RejectTransaction/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/RejectTransaction/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/bulkoperations/BulkOperations/RejectTransaction/Fault/SOLAAccessFault"/>
</operation>
</portType>
<binding name="BulkOperationsPortBinding" type="tns:BulkOperations">
    <wsp:PolicyReference URI="#BulkOperationsPortBindingPolicy"/>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="GetTransactionBulkOperationSpatial">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="SaveTransactionBulkOperationSpatial">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAValidationFault">
<soap:fault name="SOLAValidationFault" use="literal"/>
</fault>
<fault name="OptimisticLockingFault">
<soap:fault name="OptimisticLockingFault" use="literal"/>
</fault>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="SaveTransactionBulkOperationSource">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAValidationFault">
<soap:fault name="SOLAValidationFault" use="literal"/>
</fault>
<fault name="OptimisticLockingFault">
<soap:fault name="OptimisticLockingFault" use="literal"/>
</fault>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="CheckConnection">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="RejectTransaction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAValidationFault">
<soap:fault name="SOLAValidationFault" use="literal"/>
</fault>
<fault name="OptimisticLockingFault">
<soap:fault name="OptimisticLockingFault" use="literal"/>
</fault>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
</binding>
<service name="bulkoperations-service">
<port name="BulkOperationsPort" binding="tns:BulkOperationsPortBinding">
<soap:address location="http://localhost:8080/sola/webservices/bulkoperations-service"/>
</port>
</service>
    <wsp:Policy wsu:Id="BulkOperationsPortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sc:TrustStore wspp:visibility="private" type="JKS" storepass="${wsit.truststore.storepass}" peeralias="${wsit.truststore.peeralias}" location="${wsit.truststore.location}"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>