web-service-clients/src/main/resources/META-INF/cadastre-service.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.sola.org/cadastre" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.sola.org/cadastre" name="cadastre-service" xmlns:sc="http://schemas.sun.com/2006/03/wss/client" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/transferobjects/transaction/" schemaLocation="http://localhost:8080/sola/webservices/cadastre-service?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/transferobjects/casemanagement/" schemaLocation="http://localhost:8080/sola/webservices/cadastre-service?xsd=2"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/transferobjects/cadastre/" schemaLocation="http://localhost:8080/sola/webservices/cadastre-service?xsd=3"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/transferobjects/" schemaLocation="http://localhost:8080/sola/webservices/cadastre-service?xsd=4"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/faults/" schemaLocation="http://localhost:8080/sola/webservices/cadastre-service?xsd=5"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/cadastre" schemaLocation="http://localhost:8080/sola/webservices/cadastre-service?xsd=6"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/bulkoperations" schemaLocation="http://localhost:8080/sola/webservices/cadastre-service?xsd=7"/>
</xsd:schema>
</types>
<message name="SaveCadastreChange">
<part name="parameters" element="tns:SaveCadastreChange"/>
</message>
<message name="SaveCadastreChangeResponse">
<part name="parameters" element="tns:SaveCadastreChangeResponse"/>
</message>
<message name="SOLAValidationFault">
<part name="fault" element="tns:SOLAValidationFault"/>
</message>
<message name="OptimisticLockingFault">
<part name="fault" element="tns:OptimisticLockingFault"/>
</message>
<message name="SOLAFault">
<part name="fault" element="tns:SOLAFault"/>
</message>
<message name="UnhandledFault">
<part name="fault" element="tns:UnhandledFault"/>
</message>
<message name="SOLAAccessFault">
<part name="fault" element="tns:SOLAAccessFault"/>
</message>
<message name="GetCadastreChangeById">
<part name="parameters" element="tns:GetCadastreChangeById"/>
</message>
<message name="GetCadastreChangeByIdResponse">
<part name="parameters" element="tns:GetCadastreChangeByIdResponse"/>
</message>
<message name="GetCadastreObjectNodePotential">
<part name="parameters" element="tns:GetCadastreObjectNodePotential"/>
</message>
<message name="GetCadastreObjectNodePotentialResponse">
<part name="parameters" element="tns:GetCadastreObjectNodePotentialResponse"/>
</message>
<message name="GetCadastreRedefinition">
<part name="parameters" element="tns:GetCadastreRedefinition"/>
</message>
<message name="GetCadastreRedefinitionResponse">
<part name="parameters" element="tns:GetCadastreRedefinitionResponse"/>
</message>
<message name="GetNewCadastreObjectIdentifier">
<part name="parameters" element="tns:GetNewCadastreObjectIdentifier"/>
</message>
<message name="GetNewCadastreObjectIdentifierResponse">
<part name="parameters" element="tns:GetNewCadastreObjectIdentifierResponse"/>
</message>
<message name="CheckConnection">
<part name="parameters" element="tns:CheckConnection"/>
</message>
<message name="CheckConnectionResponse">
<part name="parameters" element="tns:CheckConnectionResponse"/>
</message>
<message name="GetCadastreObjectByParts">
<part name="parameters" element="tns:GetCadastreObjectByParts"/>
</message>
<message name="GetCadastreObjectByPartsResponse">
<part name="parameters" element="tns:GetCadastreObjectByPartsResponse"/>
</message>
<message name="GetCadastreObjectByAllParts">
<part name="parameters" element="tns:GetCadastreObjectByAllParts"/>
</message>
<message name="GetCadastreObjectByAllPartsResponse">
<part name="parameters" element="tns:GetCadastreObjectByAllPartsResponse"/>
</message>
<message name="GetCadastreObjectByPoint">
<part name="parameters" element="tns:GetCadastreObjectByPoint"/>
</message>
<message name="GetCadastreObjectByPointResponse">
<part name="parameters" element="tns:GetCadastreObjectByPointResponse"/>
</message>
<message name="GetCadastreObjectsByBaUnit">
<part name="parameters" element="tns:GetCadastreObjectsByBaUnit"/>
</message>
<message name="GetCadastreObjectsByBaUnitResponse">
<part name="parameters" element="tns:GetCadastreObjectsByBaUnitResponse"/>
</message>
<message name="GetCadastreObjectsByService">
<part name="parameters" element="tns:GetCadastreObjectsByService"/>
</message>
<message name="GetCadastreObjectsByServiceResponse">
<part name="parameters" element="tns:GetCadastreObjectsByServiceResponse"/>
</message>
<message name="GetCadastreChange">
<part name="parameters" element="tns:GetCadastreChange"/>
</message>
<message name="GetCadastreChangeResponse">
<part name="parameters" element="tns:GetCadastreChangeResponse"/>
</message>
<message name="GetCadastreObjects">
<part name="parameters" element="tns:GetCadastreObjects"/>
</message>
<message name="GetCadastreObjectsResponse">
<part name="parameters" element="tns:GetCadastreObjectsResponse"/>
</message>
<message name="GetCadastreObjectNode">
<part name="parameters" element="tns:GetCadastreObjectNode"/>
</message>
<message name="GetCadastreObjectNodeResponse">
<part name="parameters" element="tns:GetCadastreObjectNodeResponse"/>
</message>
<message name="SaveCadastreRedefinition">
<part name="parameters" element="tns:SaveCadastreRedefinition"/>
</message>
<message name="SaveCadastreRedefinitionResponse">
<part name="parameters" element="tns:SaveCadastreRedefinitionResponse"/>
</message>
<message name="GetSpatialValueArea">
<part name="parameters" element="tns:GetSpatialValueArea"/>
</message>
<message name="GetSpatialValueAreaResponse">
<part name="parameters" element="tns:GetSpatialValueAreaResponse"/>
</message>
<message name="SaveSpatialUnitGroups">
<part name="parameters" element="tns:SaveSpatialUnitGroups"/>
</message>
<message name="SaveSpatialUnitGroupsResponse">
<part name="parameters" element="tns:SaveSpatialUnitGroupsResponse"/>
</message>
<message name="GetSpatialUnitGroups">
<part name="parameters" element="tns:GetSpatialUnitGroups"/>
</message>
<message name="GetSpatialUnitGroupsResponse">
<part name="parameters" element="tns:GetSpatialUnitGroupsResponse"/>
</message>
<portType name="Cadastre">
<operation name="SaveCadastreChange">
<input wsam:Action="http://webservices.sola.org/cadastre/Cadastre/SaveCadastreChangeRequest" message="tns:SaveCadastreChange"/>
<output wsam:Action="http://webservices.sola.org/cadastre/Cadastre/SaveCadastreChangeResponse" message="tns:SaveCadastreChangeResponse"/>
<fault message="tns:SOLAValidationFault" name="SOLAValidationFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/SaveCadastreChange/Fault/SOLAValidationFault"/>
<fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/SaveCadastreChange/Fault/OptimisticLockingFault"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/SaveCadastreChange/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/SaveCadastreChange/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/SaveCadastreChange/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetCadastreChangeById">
<input wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreChangeByIdRequest" message="tns:GetCadastreChangeById"/>
<output wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreChangeByIdResponse" message="tns:GetCadastreChangeByIdResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreChangeById/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreChangeById/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreChangeById/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetCadastreObjectNodePotential">
<input wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectNodePotentialRequest" message="tns:GetCadastreObjectNodePotential"/>
<output wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectNodePotentialResponse" message="tns:GetCadastreObjectNodePotentialResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectNodePotential/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectNodePotential/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectNodePotential/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetCadastreRedefinition">
<input wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreRedefinitionRequest" message="tns:GetCadastreRedefinition"/>
<output wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreRedefinitionResponse" message="tns:GetCadastreRedefinitionResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreRedefinition/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreRedefinition/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreRedefinition/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetNewCadastreObjectIdentifier">
<input wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetNewCadastreObjectIdentifierRequest" message="tns:GetNewCadastreObjectIdentifier"/>
<output wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetNewCadastreObjectIdentifierResponse" message="tns:GetNewCadastreObjectIdentifierResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetNewCadastreObjectIdentifier/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetNewCadastreObjectIdentifier/Fault/UnhandledFault"/>
</operation>
<operation name="CheckConnection">
<input wsam:Action="http://webservices.sola.org/cadastre/Cadastre/CheckConnectionRequest" message="tns:CheckConnection"/>
<output wsam:Action="http://webservices.sola.org/cadastre/Cadastre/CheckConnectionResponse" message="tns:CheckConnectionResponse"/>
</operation>
<operation name="GetCadastreObjectByParts">
<input wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectByPartsRequest" message="tns:GetCadastreObjectByParts"/>
<output wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectByPartsResponse" message="tns:GetCadastreObjectByPartsResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectByParts/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectByParts/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectByParts/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetCadastreObjectByAllParts">
<input wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectByAllPartsRequest" message="tns:GetCadastreObjectByAllParts"/>
<output wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectByAllPartsResponse" message="tns:GetCadastreObjectByAllPartsResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectByAllParts/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectByAllParts/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectByAllParts/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetCadastreObjectByPoint">
<input wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectByPointRequest" message="tns:GetCadastreObjectByPoint"/>
<output wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectByPointResponse" message="tns:GetCadastreObjectByPointResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectByPoint/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectByPoint/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectByPoint/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetCadastreObjectsByBaUnit">
<input wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectsByBaUnitRequest" message="tns:GetCadastreObjectsByBaUnit"/>
<output wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectsByBaUnitResponse" message="tns:GetCadastreObjectsByBaUnitResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectsByBaUnit/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectsByBaUnit/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectsByBaUnit/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetCadastreObjectsByService">
<input wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectsByServiceRequest" message="tns:GetCadastreObjectsByService"/>
<output wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectsByServiceResponse" message="tns:GetCadastreObjectsByServiceResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectsByService/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectsByService/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectsByService/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetCadastreChange">
<input wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreChangeRequest" message="tns:GetCadastreChange"/>
<output wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreChangeResponse" message="tns:GetCadastreChangeResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreChange/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreChange/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreChange/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetCadastreObjects">
<input wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectsRequest" message="tns:GetCadastreObjects"/>
<output wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectsResponse" message="tns:GetCadastreObjectsResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjects/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjects/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjects/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetCadastreObjectNode">
<input wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectNodeRequest" message="tns:GetCadastreObjectNode"/>
<output wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectNodeResponse" message="tns:GetCadastreObjectNodeResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectNode/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectNode/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetCadastreObjectNode/Fault/SOLAAccessFault"/>
</operation>
<operation name="SaveCadastreRedefinition">
<input wsam:Action="http://webservices.sola.org/cadastre/Cadastre/SaveCadastreRedefinitionRequest" message="tns:SaveCadastreRedefinition"/>
<output wsam:Action="http://webservices.sola.org/cadastre/Cadastre/SaveCadastreRedefinitionResponse" message="tns:SaveCadastreRedefinitionResponse"/>
<fault message="tns:SOLAValidationFault" name="SOLAValidationFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/SaveCadastreRedefinition/Fault/SOLAValidationFault"/>
<fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/SaveCadastreRedefinition/Fault/OptimisticLockingFault"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/SaveCadastreRedefinition/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/SaveCadastreRedefinition/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/SaveCadastreRedefinition/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetSpatialValueArea">
<input wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetSpatialValueAreaRequest" message="tns:GetSpatialValueArea"/>
<output wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetSpatialValueAreaResponse" message="tns:GetSpatialValueAreaResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetSpatialValueArea/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetSpatialValueArea/Fault/UnhandledFault"/>
</operation>
<operation name="SaveSpatialUnitGroups">
<input wsam:Action="http://webservices.sola.org/cadastre/Cadastre/SaveSpatialUnitGroupsRequest" message="tns:SaveSpatialUnitGroups"/>
<output wsam:Action="http://webservices.sola.org/cadastre/Cadastre/SaveSpatialUnitGroupsResponse" message="tns:SaveSpatialUnitGroupsResponse"/>
<fault message="tns:SOLAValidationFault" name="SOLAValidationFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/SaveSpatialUnitGroups/Fault/SOLAValidationFault"/>
<fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/SaveSpatialUnitGroups/Fault/OptimisticLockingFault"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/SaveSpatialUnitGroups/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/SaveSpatialUnitGroups/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/SaveSpatialUnitGroups/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetSpatialUnitGroups">
<input wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetSpatialUnitGroupsRequest" message="tns:GetSpatialUnitGroups"/>
<output wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetSpatialUnitGroupsResponse" message="tns:GetSpatialUnitGroupsResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetSpatialUnitGroups/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetSpatialUnitGroups/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/GetSpatialUnitGroups/Fault/SOLAAccessFault"/>
</operation>
</portType>
<binding name="CadastrePortBinding" type="tns:Cadastre">
    <wsp:PolicyReference URI="#CadastrePortBindingPolicy"/>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="SaveCadastreChange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAValidationFault">
<soap:fault name="SOLAValidationFault" use="literal"/>
</fault>
<fault name="OptimisticLockingFault">
<soap:fault name="OptimisticLockingFault" use="literal"/>
</fault>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetCadastreChangeById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetCadastreObjectNodePotential">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetCadastreRedefinition">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetNewCadastreObjectIdentifier">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
</operation>
<operation name="CheckConnection">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetCadastreObjectByParts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetCadastreObjectByAllParts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetCadastreObjectByPoint">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetCadastreObjectsByBaUnit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetCadastreObjectsByService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetCadastreChange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetCadastreObjects">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetCadastreObjectNode">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="SaveCadastreRedefinition">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAValidationFault">
<soap:fault name="SOLAValidationFault" use="literal"/>
</fault>
<fault name="OptimisticLockingFault">
<soap:fault name="OptimisticLockingFault" use="literal"/>
</fault>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetSpatialValueArea">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
</operation>
<operation name="SaveSpatialUnitGroups">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAValidationFault">
<soap:fault name="SOLAValidationFault" use="literal"/>
</fault>
<fault name="OptimisticLockingFault">
<soap:fault name="OptimisticLockingFault" use="literal"/>
</fault>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetSpatialUnitGroups">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
</binding>
<service name="cadastre-service">
<port name="CadastrePort" binding="tns:CadastrePortBinding">
<soap:address location="http://localhost:8080/sola/webservices/cadastre-service"/>
</port>
</service>
    <wsp:Policy wsu:Id="CadastrePortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sc:TrustStore wspp:visibility="private" type="JKS" storepass="${wsit.truststore.storepass}" peeralias="${wsit.truststore.peeralias}" location="${wsit.truststore.location}"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>