web-service-clients/src/main/resources/META-INF/cadastre-service.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.sola.org/cadastre" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.sola.org/cadastre" name="cadastre-service" xmlns:sc="http://schemas.sun.com/2006/03/wss/client" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/transferobjects/cadastre/" schemaLocation="http://localhost:8080/sola/cadastre-service?xsd=1" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/transferobjects/" schemaLocation="http://localhost:8080/sola/cadastre-service?xsd=2" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/faults/" schemaLocation="http://localhost:8080/sola/cadastre-service?xsd=3" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/cadastre" schemaLocation="http://localhost:8080/sola/cadastre-service?xsd=4" />
</xsd:schema>
</types>
<message name="SaveSplitParcel">
<part name="parameters" element="tns:SaveSplitParcel" />
</message>
<message name="SaveSplitParcelResponse">
<part name="parameters" element="tns:SaveSplitParcelResponse" />
</message>
<message name="SpiltParcel">
<part name="parameters" element="tns:SpiltParcel" />
</message>
<message name="SpiltParcelResponse">
<part name="parameters" element="tns:SpiltParcelResponse" />
</message>
<message name="SearchProperty">
<part name="parameters" element="tns:SearchProperty" />
</message>
<message name="SearchPropertyResponse">
<part name="parameters" element="tns:SearchPropertyResponse" />
</message>
<message name="SOLAFault">
<part name="fault" element="tns:SOLAFault" />
</message>
<message name="UnhandledFault">
<part name="fault" element="tns:UnhandledFault" />
</message>
<portType name="Cadastre">
<operation name="SaveSplitParcel">
<input wsam:Action="http://webservices.sola.org/cadastre/Cadastre/SaveSplitParcelRequest" message="tns:SaveSplitParcel" />
<output wsam:Action="http://webservices.sola.org/cadastre/Cadastre/SaveSplitParcelResponse" message="tns:SaveSplitParcelResponse" />
</operation>
<operation name="SpiltParcel">
<input wsam:Action="http://webservices.sola.org/cadastre/Cadastre/SpiltParcelRequest" message="tns:SpiltParcel" />
<output wsam:Action="http://webservices.sola.org/cadastre/Cadastre/SpiltParcelResponse" message="tns:SpiltParcelResponse" />
</operation>
<operation name="SearchProperty">
<input wsam:Action="http://webservices.sola.org/cadastre/Cadastre/SearchPropertyRequest" message="tns:SearchProperty" />
<output wsam:Action="http://webservices.sola.org/cadastre/Cadastre/SearchPropertyResponse" message="tns:SearchPropertyResponse" />
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/SearchProperty/Fault/SOLAFault" />
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/cadastre/Cadastre/SearchProperty/Fault/UnhandledFault" />
</operation>
</portType>
<binding name="CadastrePortBinding" type="tns:Cadastre">
    <wsp:PolicyReference URI="#CadastrePortBindingPolicy"/>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="SaveSplitParcel">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="SpiltParcel">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="SearchProperty">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal" />
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal" />
</fault>
</operation>
</binding>
<service name="cadastre-service">
<port name="CadastrePort" binding="tns:CadastrePortBinding">
<soap:address location="http://localhost:8080/sola/cadastre-service" />
</port>
</service>
    <wsp:Policy wsu:Id="CadastrePortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sc:TrustStore wspp:visibility="private" type="JKS" storepass="changeit" peeralias="xws-security-server" location="cacerts.jks"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>