web-service-clients/src/main/resources/META-INF/casemanagement-service.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.sola.org/casemanagement" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.sola.org/casemanagement" name="casemanagement-service" xmlns:sc="http://schemas.sun.com/2006/03/wss/client" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/transferobjects/digitalarchive/" schemaLocation="http://localhost:8080/sola/webservices/casemanagement-service?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/transferobjects/casemanagement/" schemaLocation="http://localhost:8080/sola/webservices/casemanagement-service?xsd=2"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/transferobjects/cadastre/" schemaLocation="http://localhost:8080/sola/webservices/casemanagement-service?xsd=3"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/transferobjects/" schemaLocation="http://localhost:8080/sola/webservices/casemanagement-service?xsd=4"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/faults/" schemaLocation="http://localhost:8080/sola/webservices/casemanagement-service?xsd=5"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/casemanagement" schemaLocation="http://localhost:8080/sola/webservices/casemanagement-service?xsd=6"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/bulkoperations" schemaLocation="http://localhost:8080/sola/webservices/casemanagement-service?xsd=7"/>
</xsd:schema>
</types>
<message name="GetUserActions">
<part name="parameters" element="tns:GetUserActions"/>
</message>
<message name="GetUserActionsResponse">
<part name="parameters" element="tns:GetUserActionsResponse"/>
</message>
<message name="SOLAFault">
<part name="fault" element="tns:SOLAFault"/>
</message>
<message name="UnhandledFault">
<part name="fault" element="tns:UnhandledFault"/>
</message>
<message name="SOLAAccessFault">
<part name="fault" element="tns:SOLAAccessFault"/>
</message>
<message name="GetWorkSummary">
<part name="parameters" element="tns:GetWorkSummary"/>
</message>
<message name="GetWorkSummaryResponse">
<part name="parameters" element="tns:GetWorkSummaryResponse"/>
</message>
<message name="getSourceById">
<part name="parameters" element="tns:getSourceById"/>
</message>
<message name="getSourceByIdResponse">
<part name="parameters" element="tns:getSourceByIdResponse"/>
</message>
<message name="getPowerOfAttorneyById">
<part name="parameters" element="tns:getPowerOfAttorneyById"/>
</message>
<message name="getPowerOfAttorneyByIdResponse">
<part name="parameters" element="tns:getPowerOfAttorneyByIdResponse"/>
</message>
<message name="getApplicationByTransactionId">
<part name="parameters" element="tns:getApplicationByTransactionId"/>
</message>
<message name="getApplicationByTransactionIdResponse">
<part name="parameters" element="tns:getApplicationByTransactionIdResponse"/>
</message>
<message name="attachPowerOfAttorneyToTransaction">
<part name="parameters" element="tns:attachPowerOfAttorneyToTransaction"/>
</message>
<message name="attachPowerOfAttorneyToTransactionResponse">
<part name="parameters" element="tns:attachPowerOfAttorneyToTransactionResponse"/>
</message>
<message name="SOLAValidationFault">
<part name="fault" element="tns:SOLAValidationFault"/>
</message>
<message name="OptimisticLockingFault">
<part name="fault" element="tns:OptimisticLockingFault"/>
</message>
<message name="getPowerOfAttorneyByServiceId">
<part name="parameters" element="tns:getPowerOfAttorneyByServiceId"/>
</message>
<message name="getPowerOfAttorneyByServiceIdResponse">
<part name="parameters" element="tns:getPowerOfAttorneyByServiceIdResponse"/>
</message>
<message name="GetAddress">
<part name="parameters" element="tns:GetAddress"/>
</message>
<message name="GetAddressResponse">
<part name="parameters" element="tns:GetAddressResponse"/>
</message>
<message name="SaveParty">
<part name="parameters" element="tns:SaveParty"/>
</message>
<message name="SavePartyResponse">
<part name="parameters" element="tns:SavePartyResponse"/>
</message>
<message name="GetParty">
<part name="parameters" element="tns:GetParty"/>
</message>
<message name="GetPartyResponse">
<part name="parameters" element="tns:GetPartyResponse"/>
</message>
<message name="GetAgents">
<part name="parameters" element="tns:GetAgents"/>
</message>
<message name="GetAgentsResponse">
<part name="parameters" element="tns:GetAgentsResponse"/>
</message>
<message name="CalculateFee">
<part name="parameters" element="tns:CalculateFee"/>
</message>
<message name="CalculateFeeResponse">
<part name="parameters" element="tns:CalculateFeeResponse"/>
</message>
<message name="GetAllBrs">
<part name="parameters" element="tns:GetAllBrs"/>
</message>
<message name="GetAllBrsResponse">
<part name="parameters" element="tns:GetAllBrsResponse"/>
</message>
<message name="saveSource">
<part name="parameters" element="tns:saveSource"/>
</message>
<message name="saveSourceResponse">
<part name="parameters" element="tns:saveSourceResponse"/>
</message>
<message name="GetSysRegCertificatesByLocation">
<part name="parameters" element="tns:GetSysRegCertificatesByLocation"/>
</message>
<message name="GetSysRegCertificatesByLocationResponse">
<part name="parameters" element="tns:GetSysRegCertificatesByLocationResponse"/>
</message>
<message name="GetSysRegCertificatesByApplication">
<part name="parameters" element="tns:GetSysRegCertificatesByApplication"/>
</message>
<message name="GetSysRegCertificatesByApplicationResponse">
<part name="parameters" element="tns:GetSysRegCertificatesByApplicationResponse"/>
</message>
<message name="CheckConnection">
<part name="parameters" element="tns:CheckConnection"/>
</message>
<message name="CheckConnectionResponse">
<part name="parameters" element="tns:CheckConnectionResponse"/>
</message>
<message name="CreateApplication">
<part name="parameters" element="tns:CreateApplication"/>
</message>
<message name="CreateApplicationResponse">
<part name="parameters" element="tns:CreateApplicationResponse"/>
</message>
<message name="SaveApplication">
<part name="parameters" element="tns:SaveApplication"/>
</message>
<message name="SaveApplicationResponse">
<part name="parameters" element="tns:SaveApplicationResponse"/>
</message>
<message name="GetApplication">
<part name="parameters" element="tns:GetApplication"/>
</message>
<message name="GetApplicationResponse">
<part name="parameters" element="tns:GetApplicationResponse"/>
</message>
<message name="AttachSourceToTransaction">
<part name="parameters" element="tns:AttachSourceToTransaction"/>
</message>
<message name="AttachSourceToTransactionResponse">
<part name="parameters" element="tns:AttachSourceToTransactionResponse"/>
</message>
<message name="DettachSourceFromTransaction">
<part name="parameters" element="tns:DettachSourceFromTransaction"/>
</message>
<message name="DettachSourceFromTransactionResponse">
<part name="parameters" element="tns:DettachSourceFromTransactionResponse"/>
</message>
<message name="GetSourcesByServiceId">
<part name="parameters" element="tns:GetSourcesByServiceId"/>
</message>
<message name="GetSourcesByServiceIdResponse">
<part name="parameters" element="tns:GetSourcesByServiceIdResponse"/>
</message>
<message name="GetSourcesByIds">
<part name="parameters" element="tns:GetSourcesByIds"/>
</message>
<message name="GetSourcesByIdsResponse">
<part name="parameters" element="tns:GetSourcesByIdsResponse"/>
</message>
<message name="ServiceActionComplete">
<part name="parameters" element="tns:ServiceActionComplete"/>
</message>
<message name="ServiceActionCompleteResponse">
<part name="parameters" element="tns:ServiceActionCompleteResponse"/>
</message>
<message name="ServiceActionCancel">
<part name="parameters" element="tns:ServiceActionCancel"/>
</message>
<message name="ServiceActionCancelResponse">
<part name="parameters" element="tns:ServiceActionCancelResponse"/>
</message>
<message name="ServiceActionRevert">
<part name="parameters" element="tns:ServiceActionRevert"/>
</message>
<message name="ServiceActionRevertResponse">
<part name="parameters" element="tns:ServiceActionRevertResponse"/>
</message>
<message name="ServiceActionStart">
<part name="parameters" element="tns:ServiceActionStart"/>
</message>
<message name="ServiceActionStartResponse">
<part name="parameters" element="tns:ServiceActionStartResponse"/>
</message>
<message name="ApplicationActionWithdraw">
<part name="parameters" element="tns:ApplicationActionWithdraw"/>
</message>
<message name="ApplicationActionWithdrawResponse">
<part name="parameters" element="tns:ApplicationActionWithdrawResponse"/>
</message>
<message name="ApplicationActionCancel">
<part name="parameters" element="tns:ApplicationActionCancel"/>
</message>
<message name="ApplicationActionCancelResponse">
<part name="parameters" element="tns:ApplicationActionCancelResponse"/>
</message>
<message name="ApplicationActionRequisition">
<part name="parameters" element="tns:ApplicationActionRequisition"/>
</message>
<message name="ApplicationActionRequisitionResponse">
<part name="parameters" element="tns:ApplicationActionRequisitionResponse"/>
</message>
<message name="ApplicationActionValidate">
<part name="parameters" element="tns:ApplicationActionValidate"/>
</message>
<message name="ApplicationActionValidateResponse">
<part name="parameters" element="tns:ApplicationActionValidateResponse"/>
</message>
<message name="ApplicationActionApprove">
<part name="parameters" element="tns:ApplicationActionApprove"/>
</message>
<message name="ApplicationActionApproveResponse">
<part name="parameters" element="tns:ApplicationActionApproveResponse"/>
</message>
<message name="ApplicationActionArchive">
<part name="parameters" element="tns:ApplicationActionArchive"/>
</message>
<message name="ApplicationActionArchiveResponse">
<part name="parameters" element="tns:ApplicationActionArchiveResponse"/>
</message>
<message name="ApplicationActionDespatch">
<part name="parameters" element="tns:ApplicationActionDespatch"/>
</message>
<message name="ApplicationActionDespatchResponse">
<part name="parameters" element="tns:ApplicationActionDespatchResponse"/>
</message>
<message name="ApplicationActionLapse">
<part name="parameters" element="tns:ApplicationActionLapse"/>
</message>
<message name="ApplicationActionLapseResponse">
<part name="parameters" element="tns:ApplicationActionLapseResponse"/>
</message>
<message name="ApplicationActionUnassign">
<part name="parameters" element="tns:ApplicationActionUnassign"/>
</message>
<message name="ApplicationActionUnassignResponse">
<part name="parameters" element="tns:ApplicationActionUnassignResponse"/>
</message>
<message name="ApplicationActionAssign">
<part name="parameters" element="tns:ApplicationActionAssign"/>
</message>
<message name="ApplicationActionAssignResponse">
<part name="parameters" element="tns:ApplicationActionAssignResponse"/>
</message>
<message name="ApplicationActionResubmit">
<part name="parameters" element="tns:ApplicationActionResubmit"/>
</message>
<message name="ApplicationActionResubmitResponse">
<part name="parameters" element="tns:ApplicationActionResubmitResponse"/>
</message>
<message name="SaveInformationService">
<part name="parameters" element="tns:SaveInformationService"/>
</message>
<message name="SaveInformationServiceResponse">
<part name="parameters" element="tns:SaveInformationServiceResponse"/>
</message>
<portType name="CaseManagement">
<operation name="GetUserActions">
<input wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetUserActionsRequest" message="tns:GetUserActions"/>
<output wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetUserActionsResponse" message="tns:GetUserActionsResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetUserActions/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetUserActions/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetUserActions/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetWorkSummary">
<input wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetWorkSummaryRequest" message="tns:GetWorkSummary"/>
<output wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetWorkSummaryResponse" message="tns:GetWorkSummaryResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetWorkSummary/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetWorkSummary/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetWorkSummary/Fault/SOLAAccessFault"/>
</operation>
<operation name="getSourceById">
<input wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/getSourceByIdRequest" message="tns:getSourceById"/>
<output wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/getSourceByIdResponse" message="tns:getSourceByIdResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/getSourceById/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/getSourceById/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/getSourceById/Fault/SOLAAccessFault"/>
</operation>
<operation name="getPowerOfAttorneyById">
<input wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/getPowerOfAttorneyByIdRequest" message="tns:getPowerOfAttorneyById"/>
<output wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/getPowerOfAttorneyByIdResponse" message="tns:getPowerOfAttorneyByIdResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/getPowerOfAttorneyById/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/getPowerOfAttorneyById/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/getPowerOfAttorneyById/Fault/SOLAAccessFault"/>
</operation>
<operation name="getApplicationByTransactionId">
<input wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/getApplicationByTransactionIdRequest" message="tns:getApplicationByTransactionId"/>
<output wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/getApplicationByTransactionIdResponse" message="tns:getApplicationByTransactionIdResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/getApplicationByTransactionId/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/getApplicationByTransactionId/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/getApplicationByTransactionId/Fault/SOLAAccessFault"/>
</operation>
<operation name="attachPowerOfAttorneyToTransaction">
<input wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/attachPowerOfAttorneyToTransactionRequest" message="tns:attachPowerOfAttorneyToTransaction"/>
<output wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/attachPowerOfAttorneyToTransactionResponse" message="tns:attachPowerOfAttorneyToTransactionResponse"/>
<fault message="tns:SOLAValidationFault" name="SOLAValidationFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/attachPowerOfAttorneyToTransaction/Fault/SOLAValidationFault"/>
<fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/attachPowerOfAttorneyToTransaction/Fault/OptimisticLockingFault"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/attachPowerOfAttorneyToTransaction/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/attachPowerOfAttorneyToTransaction/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/attachPowerOfAttorneyToTransaction/Fault/SOLAAccessFault"/>
</operation>
<operation name="getPowerOfAttorneyByServiceId">
<input wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/getPowerOfAttorneyByServiceIdRequest" message="tns:getPowerOfAttorneyByServiceId"/>
<output wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/getPowerOfAttorneyByServiceIdResponse" message="tns:getPowerOfAttorneyByServiceIdResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/getPowerOfAttorneyByServiceId/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/getPowerOfAttorneyByServiceId/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/getPowerOfAttorneyByServiceId/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetAddress">
<input wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetAddressRequest" message="tns:GetAddress"/>
<output wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetAddressResponse" message="tns:GetAddressResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetAddress/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetAddress/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetAddress/Fault/SOLAAccessFault"/>
</operation>
<operation name="SaveParty">
<input wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/SavePartyRequest" message="tns:SaveParty"/>
<output wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/SavePartyResponse" message="tns:SavePartyResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/SaveParty/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/SaveParty/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/SaveParty/Fault/SOLAAccessFault"/>
<fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/SaveParty/Fault/OptimisticLockingFault"/>
<fault message="tns:SOLAValidationFault" name="SOLAValidationFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/SaveParty/Fault/SOLAValidationFault"/>
</operation>
<operation name="GetParty">
<input wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetPartyRequest" message="tns:GetParty"/>
<output wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetPartyResponse" message="tns:GetPartyResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetParty/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetParty/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetParty/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetAgents">
<input wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetAgentsRequest" message="tns:GetAgents"/>
<output wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetAgentsResponse" message="tns:GetAgentsResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetAgents/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetAgents/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetAgents/Fault/SOLAAccessFault"/>
</operation>
<operation name="CalculateFee">
<input wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/CalculateFeeRequest" message="tns:CalculateFee"/>
<output wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/CalculateFeeResponse" message="tns:CalculateFeeResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/CalculateFee/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/CalculateFee/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/CalculateFee/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetAllBrs">
<input wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetAllBrsRequest" message="tns:GetAllBrs"/>
<output wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetAllBrsResponse" message="tns:GetAllBrsResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetAllBrs/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetAllBrs/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetAllBrs/Fault/SOLAAccessFault"/>
</operation>
<operation name="saveSource">
<input wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/saveSourceRequest" message="tns:saveSource"/>
<output wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/saveSourceResponse" message="tns:saveSourceResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/saveSource/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/saveSource/Fault/UnhandledFault"/>
<fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/saveSource/Fault/OptimisticLockingFault"/>
<fault message="tns:SOLAValidationFault" name="SOLAValidationFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/saveSource/Fault/SOLAValidationFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/saveSource/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetSysRegCertificatesByLocation">
<input wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetSysRegCertificatesByLocationRequest" message="tns:GetSysRegCertificatesByLocation"/>
<output wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetSysRegCertificatesByLocationResponse" message="tns:GetSysRegCertificatesByLocationResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetSysRegCertificatesByLocation/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetSysRegCertificatesByLocation/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetSysRegCertificatesByLocation/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetSysRegCertificatesByApplication">
<input wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetSysRegCertificatesByApplicationRequest" message="tns:GetSysRegCertificatesByApplication"/>
<output wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetSysRegCertificatesByApplicationResponse" message="tns:GetSysRegCertificatesByApplicationResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetSysRegCertificatesByApplication/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetSysRegCertificatesByApplication/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetSysRegCertificatesByApplication/Fault/SOLAAccessFault"/>
</operation>
<operation name="CheckConnection">
<input wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/CheckConnectionRequest" message="tns:CheckConnection"/>
<output wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/CheckConnectionResponse" message="tns:CheckConnectionResponse"/>
</operation>
<operation name="CreateApplication">
<input wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/CreateApplicationRequest" message="tns:CreateApplication"/>
<output wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/CreateApplicationResponse" message="tns:CreateApplicationResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/CreateApplication/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/CreateApplication/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/CreateApplication/Fault/SOLAAccessFault"/>
<fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/CreateApplication/Fault/OptimisticLockingFault"/>
<fault message="tns:SOLAValidationFault" name="SOLAValidationFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/CreateApplication/Fault/SOLAValidationFault"/>
</operation>
<operation name="SaveApplication">
<input wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/SaveApplicationRequest" message="tns:SaveApplication"/>
<output wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/SaveApplicationResponse" message="tns:SaveApplicationResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/SaveApplication/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/SaveApplication/Fault/UnhandledFault"/>
<fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/SaveApplication/Fault/OptimisticLockingFault"/>
<fault message="tns:SOLAValidationFault" name="SOLAValidationFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/SaveApplication/Fault/SOLAValidationFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/SaveApplication/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetApplication">
<input wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetApplicationRequest" message="tns:GetApplication"/>
<output wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetApplicationResponse" message="tns:GetApplicationResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetApplication/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetApplication/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetApplication/Fault/SOLAAccessFault"/>
</operation>
<operation name="AttachSourceToTransaction">
<input wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/AttachSourceToTransactionRequest" message="tns:AttachSourceToTransaction"/>
<output wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/AttachSourceToTransactionResponse" message="tns:AttachSourceToTransactionResponse"/>
<fault message="tns:SOLAValidationFault" name="SOLAValidationFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/AttachSourceToTransaction/Fault/SOLAValidationFault"/>
<fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/AttachSourceToTransaction/Fault/OptimisticLockingFault"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/AttachSourceToTransaction/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/AttachSourceToTransaction/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/AttachSourceToTransaction/Fault/SOLAAccessFault"/>
</operation>
<operation name="DettachSourceFromTransaction">
<input wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/DettachSourceFromTransactionRequest" message="tns:DettachSourceFromTransaction"/>
<output wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/DettachSourceFromTransactionResponse" message="tns:DettachSourceFromTransactionResponse"/>
<fault message="tns:SOLAValidationFault" name="SOLAValidationFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/DettachSourceFromTransaction/Fault/SOLAValidationFault"/>
<fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/DettachSourceFromTransaction/Fault/OptimisticLockingFault"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/DettachSourceFromTransaction/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/DettachSourceFromTransaction/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/DettachSourceFromTransaction/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetSourcesByServiceId">
<input wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetSourcesByServiceIdRequest" message="tns:GetSourcesByServiceId"/>
<output wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetSourcesByServiceIdResponse" message="tns:GetSourcesByServiceIdResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetSourcesByServiceId/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetSourcesByServiceId/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetSourcesByServiceId/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetSourcesByIds">
<input wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetSourcesByIdsRequest" message="tns:GetSourcesByIds"/>
<output wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetSourcesByIdsResponse" message="tns:GetSourcesByIdsResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetSourcesByIds/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetSourcesByIds/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetSourcesByIds/Fault/SOLAAccessFault"/>
</operation>
<operation name="ServiceActionComplete">
<input wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ServiceActionCompleteRequest" message="tns:ServiceActionComplete"/>
<output wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ServiceActionCompleteResponse" message="tns:ServiceActionCompleteResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ServiceActionComplete/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ServiceActionComplete/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ServiceActionComplete/Fault/SOLAAccessFault"/>
<fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ServiceActionComplete/Fault/OptimisticLockingFault"/>
<fault message="tns:SOLAValidationFault" name="SOLAValidationFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ServiceActionComplete/Fault/SOLAValidationFault"/>
</operation>
<operation name="ServiceActionCancel">
<input wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ServiceActionCancelRequest" message="tns:ServiceActionCancel"/>
<output wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ServiceActionCancelResponse" message="tns:ServiceActionCancelResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ServiceActionCancel/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ServiceActionCancel/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ServiceActionCancel/Fault/SOLAAccessFault"/>
<fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ServiceActionCancel/Fault/OptimisticLockingFault"/>
<fault message="tns:SOLAValidationFault" name="SOLAValidationFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ServiceActionCancel/Fault/SOLAValidationFault"/>
</operation>
<operation name="ServiceActionRevert">
<input wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ServiceActionRevertRequest" message="tns:ServiceActionRevert"/>
<output wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ServiceActionRevertResponse" message="tns:ServiceActionRevertResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ServiceActionRevert/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ServiceActionRevert/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ServiceActionRevert/Fault/SOLAAccessFault"/>
<fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ServiceActionRevert/Fault/OptimisticLockingFault"/>
<fault message="tns:SOLAValidationFault" name="SOLAValidationFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ServiceActionRevert/Fault/SOLAValidationFault"/>
</operation>
<operation name="ServiceActionStart">
<input wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ServiceActionStartRequest" message="tns:ServiceActionStart"/>
<output wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ServiceActionStartResponse" message="tns:ServiceActionStartResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ServiceActionStart/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ServiceActionStart/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ServiceActionStart/Fault/SOLAAccessFault"/>
<fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ServiceActionStart/Fault/OptimisticLockingFault"/>
<fault message="tns:SOLAValidationFault" name="SOLAValidationFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ServiceActionStart/Fault/SOLAValidationFault"/>
</operation>
<operation name="ApplicationActionWithdraw">
<input wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionWithdrawRequest" message="tns:ApplicationActionWithdraw"/>
<output wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionWithdrawResponse" message="tns:ApplicationActionWithdrawResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionWithdraw/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionWithdraw/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionWithdraw/Fault/SOLAAccessFault"/>
<fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionWithdraw/Fault/OptimisticLockingFault"/>
<fault message="tns:SOLAValidationFault" name="SOLAValidationFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionWithdraw/Fault/SOLAValidationFault"/>
</operation>
<operation name="ApplicationActionCancel">
<input wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionCancelRequest" message="tns:ApplicationActionCancel"/>
<output wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionCancelResponse" message="tns:ApplicationActionCancelResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionCancel/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionCancel/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionCancel/Fault/SOLAAccessFault"/>
<fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionCancel/Fault/OptimisticLockingFault"/>
<fault message="tns:SOLAValidationFault" name="SOLAValidationFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionCancel/Fault/SOLAValidationFault"/>
</operation>
<operation name="ApplicationActionRequisition">
<input wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionRequisitionRequest" message="tns:ApplicationActionRequisition"/>
<output wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionRequisitionResponse" message="tns:ApplicationActionRequisitionResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionRequisition/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionRequisition/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionRequisition/Fault/SOLAAccessFault"/>
<fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionRequisition/Fault/OptimisticLockingFault"/>
<fault message="tns:SOLAValidationFault" name="SOLAValidationFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionRequisition/Fault/SOLAValidationFault"/>
</operation>
<operation name="ApplicationActionValidate">
<input wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionValidateRequest" message="tns:ApplicationActionValidate"/>
<output wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionValidateResponse" message="tns:ApplicationActionValidateResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionValidate/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionValidate/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionValidate/Fault/SOLAAccessFault"/>
<fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionValidate/Fault/OptimisticLockingFault"/>
<fault message="tns:SOLAValidationFault" name="SOLAValidationFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionValidate/Fault/SOLAValidationFault"/>
</operation>
<operation name="ApplicationActionApprove">
<input wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionApproveRequest" message="tns:ApplicationActionApprove"/>
<output wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionApproveResponse" message="tns:ApplicationActionApproveResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionApprove/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionApprove/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionApprove/Fault/SOLAAccessFault"/>
<fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionApprove/Fault/OptimisticLockingFault"/>
<fault message="tns:SOLAValidationFault" name="SOLAValidationFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionApprove/Fault/SOLAValidationFault"/>
</operation>
<operation name="ApplicationActionArchive">
<input wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionArchiveRequest" message="tns:ApplicationActionArchive"/>
<output wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionArchiveResponse" message="tns:ApplicationActionArchiveResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionArchive/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionArchive/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionArchive/Fault/SOLAAccessFault"/>
<fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionArchive/Fault/OptimisticLockingFault"/>
<fault message="tns:SOLAValidationFault" name="SOLAValidationFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionArchive/Fault/SOLAValidationFault"/>
</operation>
<operation name="ApplicationActionDespatch">
<input wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionDespatchRequest" message="tns:ApplicationActionDespatch"/>
<output wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionDespatchResponse" message="tns:ApplicationActionDespatchResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionDespatch/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionDespatch/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionDespatch/Fault/SOLAAccessFault"/>
<fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionDespatch/Fault/OptimisticLockingFault"/>
<fault message="tns:SOLAValidationFault" name="SOLAValidationFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionDespatch/Fault/SOLAValidationFault"/>
</operation>
<operation name="ApplicationActionLapse">
<input wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionLapseRequest" message="tns:ApplicationActionLapse"/>
<output wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionLapseResponse" message="tns:ApplicationActionLapseResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionLapse/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionLapse/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionLapse/Fault/SOLAAccessFault"/>
<fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionLapse/Fault/OptimisticLockingFault"/>
<fault message="tns:SOLAValidationFault" name="SOLAValidationFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionLapse/Fault/SOLAValidationFault"/>
</operation>
<operation name="ApplicationActionUnassign">
<input wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionUnassignRequest" message="tns:ApplicationActionUnassign"/>
<output wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionUnassignResponse" message="tns:ApplicationActionUnassignResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionUnassign/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionUnassign/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionUnassign/Fault/SOLAAccessFault"/>
<fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionUnassign/Fault/OptimisticLockingFault"/>
<fault message="tns:SOLAValidationFault" name="SOLAValidationFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionUnassign/Fault/SOLAValidationFault"/>
</operation>
<operation name="ApplicationActionAssign">
<input wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionAssignRequest" message="tns:ApplicationActionAssign"/>
<output wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionAssignResponse" message="tns:ApplicationActionAssignResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionAssign/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionAssign/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionAssign/Fault/SOLAAccessFault"/>
<fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionAssign/Fault/OptimisticLockingFault"/>
<fault message="tns:SOLAValidationFault" name="SOLAValidationFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionAssign/Fault/SOLAValidationFault"/>
</operation>
<operation name="ApplicationActionResubmit">
<input wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionResubmitRequest" message="tns:ApplicationActionResubmit"/>
<output wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionResubmitResponse" message="tns:ApplicationActionResubmitResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionResubmit/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionResubmit/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionResubmit/Fault/SOLAAccessFault"/>
<fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionResubmit/Fault/OptimisticLockingFault"/>
<fault message="tns:SOLAValidationFault" name="SOLAValidationFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ApplicationActionResubmit/Fault/SOLAValidationFault"/>
</operation>
<operation name="SaveInformationService">
<input wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/SaveInformationServiceRequest" message="tns:SaveInformationService"/>
<output wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/SaveInformationServiceResponse" message="tns:SaveInformationServiceResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/SaveInformationService/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/SaveInformationService/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/SaveInformationService/Fault/SOLAAccessFault"/>
<fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/SaveInformationService/Fault/OptimisticLockingFault"/>
<fault message="tns:SOLAValidationFault" name="SOLAValidationFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/SaveInformationService/Fault/SOLAValidationFault"/>
</operation>
</portType>
<binding name="CaseManagementPortBinding" type="tns:CaseManagement">
    <wsp:PolicyReference URI="#CaseManagementPortBindingPolicy"/>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="GetUserActions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetWorkSummary">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="getSourceById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="getPowerOfAttorneyById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="getApplicationByTransactionId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="attachPowerOfAttorneyToTransaction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAValidationFault">
<soap:fault name="SOLAValidationFault" use="literal"/>
</fault>
<fault name="OptimisticLockingFault">
<soap:fault name="OptimisticLockingFault" use="literal"/>
</fault>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="getPowerOfAttorneyByServiceId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetAddress">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="SaveParty">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
<fault name="OptimisticLockingFault">
<soap:fault name="OptimisticLockingFault" use="literal"/>
</fault>
<fault name="SOLAValidationFault">
<soap:fault name="SOLAValidationFault" use="literal"/>
</fault>
</operation>
<operation name="GetParty">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetAgents">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="CalculateFee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetAllBrs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="saveSource">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="OptimisticLockingFault">
<soap:fault name="OptimisticLockingFault" use="literal"/>
</fault>
<fault name="SOLAValidationFault">
<soap:fault name="SOLAValidationFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetSysRegCertificatesByLocation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetSysRegCertificatesByApplication">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="CheckConnection">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateApplication">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
<fault name="OptimisticLockingFault">
<soap:fault name="OptimisticLockingFault" use="literal"/>
</fault>
<fault name="SOLAValidationFault">
<soap:fault name="SOLAValidationFault" use="literal"/>
</fault>
</operation>
<operation name="SaveApplication">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="OptimisticLockingFault">
<soap:fault name="OptimisticLockingFault" use="literal"/>
</fault>
<fault name="SOLAValidationFault">
<soap:fault name="SOLAValidationFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetApplication">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="AttachSourceToTransaction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAValidationFault">
<soap:fault name="SOLAValidationFault" use="literal"/>
</fault>
<fault name="OptimisticLockingFault">
<soap:fault name="OptimisticLockingFault" use="literal"/>
</fault>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="DettachSourceFromTransaction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAValidationFault">
<soap:fault name="SOLAValidationFault" use="literal"/>
</fault>
<fault name="OptimisticLockingFault">
<soap:fault name="OptimisticLockingFault" use="literal"/>
</fault>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetSourcesByServiceId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetSourcesByIds">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="ServiceActionComplete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
<fault name="OptimisticLockingFault">
<soap:fault name="OptimisticLockingFault" use="literal"/>
</fault>
<fault name="SOLAValidationFault">
<soap:fault name="SOLAValidationFault" use="literal"/>
</fault>
</operation>
<operation name="ServiceActionCancel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
<fault name="OptimisticLockingFault">
<soap:fault name="OptimisticLockingFault" use="literal"/>
</fault>
<fault name="SOLAValidationFault">
<soap:fault name="SOLAValidationFault" use="literal"/>
</fault>
</operation>
<operation name="ServiceActionRevert">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
<fault name="OptimisticLockingFault">
<soap:fault name="OptimisticLockingFault" use="literal"/>
</fault>
<fault name="SOLAValidationFault">
<soap:fault name="SOLAValidationFault" use="literal"/>
</fault>
</operation>
<operation name="ServiceActionStart">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
<fault name="OptimisticLockingFault">
<soap:fault name="OptimisticLockingFault" use="literal"/>
</fault>
<fault name="SOLAValidationFault">
<soap:fault name="SOLAValidationFault" use="literal"/>
</fault>
</operation>
<operation name="ApplicationActionWithdraw">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
<fault name="OptimisticLockingFault">
<soap:fault name="OptimisticLockingFault" use="literal"/>
</fault>
<fault name="SOLAValidationFault">
<soap:fault name="SOLAValidationFault" use="literal"/>
</fault>
</operation>
<operation name="ApplicationActionCancel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
<fault name="OptimisticLockingFault">
<soap:fault name="OptimisticLockingFault" use="literal"/>
</fault>
<fault name="SOLAValidationFault">
<soap:fault name="SOLAValidationFault" use="literal"/>
</fault>
</operation>
<operation name="ApplicationActionRequisition">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
<fault name="OptimisticLockingFault">
<soap:fault name="OptimisticLockingFault" use="literal"/>
</fault>
<fault name="SOLAValidationFault">
<soap:fault name="SOLAValidationFault" use="literal"/>
</fault>
</operation>
<operation name="ApplicationActionValidate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
<fault name="OptimisticLockingFault">
<soap:fault name="OptimisticLockingFault" use="literal"/>
</fault>
<fault name="SOLAValidationFault">
<soap:fault name="SOLAValidationFault" use="literal"/>
</fault>
</operation>
<operation name="ApplicationActionApprove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
<fault name="OptimisticLockingFault">
<soap:fault name="OptimisticLockingFault" use="literal"/>
</fault>
<fault name="SOLAValidationFault">
<soap:fault name="SOLAValidationFault" use="literal"/>
</fault>
</operation>
<operation name="ApplicationActionArchive">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
<fault name="OptimisticLockingFault">
<soap:fault name="OptimisticLockingFault" use="literal"/>
</fault>
<fault name="SOLAValidationFault">
<soap:fault name="SOLAValidationFault" use="literal"/>
</fault>
</operation>
<operation name="ApplicationActionDespatch">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
<fault name="OptimisticLockingFault">
<soap:fault name="OptimisticLockingFault" use="literal"/>
</fault>
<fault name="SOLAValidationFault">
<soap:fault name="SOLAValidationFault" use="literal"/>
</fault>
</operation>
<operation name="ApplicationActionLapse">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
<fault name="OptimisticLockingFault">
<soap:fault name="OptimisticLockingFault" use="literal"/>
</fault>
<fault name="SOLAValidationFault">
<soap:fault name="SOLAValidationFault" use="literal"/>
</fault>
</operation>
<operation name="ApplicationActionUnassign">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
<fault name="OptimisticLockingFault">
<soap:fault name="OptimisticLockingFault" use="literal"/>
</fault>
<fault name="SOLAValidationFault">
<soap:fault name="SOLAValidationFault" use="literal"/>
</fault>
</operation>
<operation name="ApplicationActionAssign">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
<fault name="OptimisticLockingFault">
<soap:fault name="OptimisticLockingFault" use="literal"/>
</fault>
<fault name="SOLAValidationFault">
<soap:fault name="SOLAValidationFault" use="literal"/>
</fault>
</operation>
<operation name="ApplicationActionResubmit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
<fault name="OptimisticLockingFault">
<soap:fault name="OptimisticLockingFault" use="literal"/>
</fault>
<fault name="SOLAValidationFault">
<soap:fault name="SOLAValidationFault" use="literal"/>
</fault>
</operation>
<operation name="SaveInformationService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
<fault name="OptimisticLockingFault">
<soap:fault name="OptimisticLockingFault" use="literal"/>
</fault>
<fault name="SOLAValidationFault">
<soap:fault name="SOLAValidationFault" use="literal"/>
</fault>
</operation>
</binding>
<service name="casemanagement-service">
<port name="CaseManagementPort" binding="tns:CaseManagementPortBinding">
<soap:address location="http://localhost:8080/sola/webservices/casemanagement-service"/>
</port>
</service>
    <wsp:Policy wsu:Id="CaseManagementPortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sc:TrustStore wspp:visibility="private" type="JKS" storepass="${wsit.truststore.storepass}" peeralias="${wsit.truststore.peeralias}" location="${wsit.truststore.location}"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>