web-service-clients/src/main/resources/META-INF/casemanagement-service.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.sola.org/casemanagement" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.sola.org/casemanagement" name="casemanagement-service" xmlns:sc="http://schemas.sun.com/2006/03/wss/client" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/transferobjects/casemanagement/" schemaLocation="http://localhost:8080/sola/casemanagement-service?xsd=1" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/transferobjects/" schemaLocation="http://localhost:8080/sola/casemanagement-service?xsd=2" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/faults/" schemaLocation="http://localhost:8080/sola/casemanagement-service?xsd=3" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/casemanagement" schemaLocation="http://localhost:8080/sola/casemanagement-service?xsd=4" />
</xsd:schema>
</types>
<message name="CheckConnection">
<part name="parameters" element="tns:CheckConnection" />
</message>
<message name="CheckConnectionResponse">
<part name="parameters" element="tns:CheckConnectionResponse" />
</message>
<message name="CreateApplication">
<part name="parameters" element="tns:CreateApplication" />
</message>
<message name="CreateApplicationResponse">
<part name="parameters" element="tns:CreateApplicationResponse" />
</message>
<message name="SOLAFault">
<part name="fault" element="tns:SOLAFault" />
</message>
<message name="UnhandledFault">
<part name="fault" element="tns:UnhandledFault" />
</message>
<message name="SaveApplication">
<part name="parameters" element="tns:SaveApplication" />
</message>
<message name="SaveApplicationResponse">
<part name="parameters" element="tns:SaveApplicationResponse" />
</message>
<message name="OptimisticLockingFault">
<part name="fault" element="tns:OptimisticLockingFault" />
</message>
<message name="GetAddress">
<part name="parameters" element="tns:GetAddress" />
</message>
<message name="GetAddressResponse">
<part name="parameters" element="tns:GetAddressResponse" />
</message>
<message name="GetApplication">
<part name="parameters" element="tns:GetApplication" />
</message>
<message name="GetApplicationResponse">
<part name="parameters" element="tns:GetApplicationResponse" />
</message>
<message name="GetParty">
<part name="parameters" element="tns:GetParty" />
</message>
<message name="GetPartyResponse">
<part name="parameters" element="tns:GetPartyResponse" />
</message>
<message name="GetApplicationServices">
<part name="parameters" element="tns:GetApplicationServices" />
</message>
<message name="GetApplicationServicesResponse">
<part name="parameters" element="tns:GetApplicationServicesResponse" />
</message>
<message name="GetAgents">
<part name="parameters" element="tns:GetAgents" />
</message>
<message name="GetAgentsResponse">
<part name="parameters" element="tns:GetAgentsResponse" />
</message>
<message name="ChangeApplicationAssignment">
<part name="parameters" element="tns:ChangeApplicationAssignment" />
</message>
<message name="ChangeApplicationAssignmentResponse">
<part name="parameters" element="tns:ChangeApplicationAssignmentResponse" />
</message>
<message name="GetApplicationLog">
<part name="parameters" element="tns:GetApplicationLog" />
</message>
<message name="GetApplicationLogResponse">
<part name="parameters" element="tns:GetApplicationLogResponse" />
</message>
<message name="CalculateFee">
<part name="parameters" element="tns:CalculateFee" />
</message>
<message name="CalculateFeeResponse">
<part name="parameters" element="tns:CalculateFeeResponse" />
</message>
<message name="AddApplicationAction">
<part name="parameters" element="tns:AddApplicationAction" />
</message>
<message name="AddApplicationActionResponse">
<part name="parameters" element="tns:AddApplicationActionResponse" />
</message>
<portType name="CaseManagement">
<operation name="CheckConnection">
<input wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/CheckConnectionRequest" message="tns:CheckConnection" />
<output wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/CheckConnectionResponse" message="tns:CheckConnectionResponse" />
</operation>
<operation name="CreateApplication">
<input wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/CreateApplicationRequest" message="tns:CreateApplication" />
<output wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/CreateApplicationResponse" message="tns:CreateApplicationResponse" />
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/CreateApplication/Fault/SOLAFault" />
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/CreateApplication/Fault/UnhandledFault" />
</operation>
<operation name="SaveApplication">
<input wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/SaveApplicationRequest" message="tns:SaveApplication" />
<output wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/SaveApplicationResponse" message="tns:SaveApplicationResponse" />
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/SaveApplication/Fault/SOLAFault" />
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/SaveApplication/Fault/UnhandledFault" />
<fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/SaveApplication/Fault/OptimisticLockingFault" />
</operation>
<operation name="GetAddress">
<input wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetAddressRequest" message="tns:GetAddress" />
<output wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetAddressResponse" message="tns:GetAddressResponse" />
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetAddress/Fault/SOLAFault" />
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetAddress/Fault/UnhandledFault" />
</operation>
<operation name="GetApplication">
<input wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetApplicationRequest" message="tns:GetApplication" />
<output wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetApplicationResponse" message="tns:GetApplicationResponse" />
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetApplication/Fault/SOLAFault" />
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetApplication/Fault/UnhandledFault" />
</operation>
<operation name="GetParty">
<input wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetPartyRequest" message="tns:GetParty" />
<output wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetPartyResponse" message="tns:GetPartyResponse" />
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetParty/Fault/SOLAFault" />
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetParty/Fault/UnhandledFault" />
</operation>
<operation name="GetApplicationServices">
<input wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetApplicationServicesRequest" message="tns:GetApplicationServices" />
<output wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetApplicationServicesResponse" message="tns:GetApplicationServicesResponse" />
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetApplicationServices/Fault/SOLAFault" />
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetApplicationServices/Fault/UnhandledFault" />
</operation>
<operation name="GetAgents">
<input wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetAgentsRequest" message="tns:GetAgents" />
<output wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetAgentsResponse" message="tns:GetAgentsResponse" />
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetAgents/Fault/SOLAFault" />
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetAgents/Fault/UnhandledFault" />
</operation>
<operation name="ChangeApplicationAssignment">
<input wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ChangeApplicationAssignmentRequest" message="tns:ChangeApplicationAssignment" />
<output wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ChangeApplicationAssignmentResponse" message="tns:ChangeApplicationAssignmentResponse" />
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ChangeApplicationAssignment/Fault/SOLAFault" />
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ChangeApplicationAssignment/Fault/UnhandledFault" />
<fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/ChangeApplicationAssignment/Fault/OptimisticLockingFault" />
</operation>
<operation name="GetApplicationLog">
<input wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetApplicationLogRequest" message="tns:GetApplicationLog" />
<output wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetApplicationLogResponse" message="tns:GetApplicationLogResponse" />
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetApplicationLog/Fault/SOLAFault" />
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/GetApplicationLog/Fault/UnhandledFault" />
</operation>
<operation name="CalculateFee">
<input wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/CalculateFeeRequest" message="tns:CalculateFee" />
<output wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/CalculateFeeResponse" message="tns:CalculateFeeResponse" />
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/CalculateFee/Fault/SOLAFault" />
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/CalculateFee/Fault/UnhandledFault" />
</operation>
<operation name="AddApplicationAction">
<input wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/AddApplicationActionRequest" message="tns:AddApplicationAction" />
<output wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/AddApplicationActionResponse" message="tns:AddApplicationActionResponse" />
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/AddApplicationAction/Fault/SOLAFault" />
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/AddApplicationAction/Fault/UnhandledFault" />
<fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/casemanagement/CaseManagement/AddApplicationAction/Fault/OptimisticLockingFault" />
</operation>
</portType>
<binding name="CaseManagementPortBinding" type="tns:CaseManagement">
    <wsp:PolicyReference URI="#CaseManagementPortBindingPolicy"/>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="CheckConnection">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="CreateApplication">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal" />
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal" />
</fault>
</operation>
<operation name="SaveApplication">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal" />
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal" />
</fault>
<fault name="OptimisticLockingFault">
<soap:fault name="OptimisticLockingFault" use="literal" />
</fault>
</operation>
<operation name="GetAddress">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal" />
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal" />
</fault>
</operation>
<operation name="GetApplication">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal" />
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal" />
</fault>
</operation>
<operation name="GetParty">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal" />
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal" />
</fault>
</operation>
<operation name="GetApplicationServices">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal" />
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal" />
</fault>
</operation>
<operation name="GetAgents">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal" />
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal" />
</fault>
</operation>
<operation name="ChangeApplicationAssignment">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal" />
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal" />
</fault>
<fault name="OptimisticLockingFault">
<soap:fault name="OptimisticLockingFault" use="literal" />
</fault>
</operation>
<operation name="GetApplicationLog">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal" />
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal" />
</fault>
</operation>
<operation name="CalculateFee">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal" />
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal" />
</fault>
</operation>
<operation name="AddApplicationAction">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal" />
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal" />
</fault>
<fault name="OptimisticLockingFault">
<soap:fault name="OptimisticLockingFault" use="literal" />
</fault>
</operation>
</binding>
<service name="casemanagement-service">
<port name="CaseManagementPort" binding="tns:CaseManagementPortBinding">
<soap:address location="http://localhost:8080/sola/casemanagement-service" />
</port>
</service>
    <wsp:Policy wsu:Id="CaseManagementPortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sc:TrustStore wspp:visibility="private" type="JKS" storepass="${wsit.truststore.storepass}" peeralias="${wsit.truststore.peeralias}" location="${wsit.truststore.location}"/>           
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>