web-service-clients/src/main/resources/META-INF/digitalarchive-service.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.sola.org/digitalarchive" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.sola.org/digitalarchive" name="digitalarchive-service" xmlns:sc="http://schemas.sun.com/2006/03/wss/client" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/transferobjects/digitalarchive/" schemaLocation="http://localhost:8080/sola/digitalarchive-service?xsd=1" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/transferobjects/" schemaLocation="http://localhost:8080/sola/digitalarchive-service?xsd=2" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/spatial" schemaLocation="http://localhost:8080/sola/digitalarchive-service?xsd=3" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/faults/" schemaLocation="http://localhost:8080/sola/digitalarchive-service?xsd=4" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/digitalarchive" schemaLocation="http://localhost:8080/sola/digitalarchive-service?xsd=5" />
</xsd:schema>
</types>
<message name="GetDocument">
<part name="parameters" element="tns:GetDocument" />
</message>
<message name="GetDocumentResponse">
<part name="parameters" element="tns:GetDocumentResponse" />
</message>
<message name="SOLAFault">
<part name="fault" element="tns:SOLAFault" />
</message>
<message name="UnhandledFault">
<part name="fault" element="tns:UnhandledFault" />
</message>
<message name="SaveDocument">
<part name="parameters" element="tns:SaveDocument" />
</message>
<message name="SaveDocumentResponse">
<part name="parameters" element="tns:SaveDocumentResponse" />
</message>
<message name="OptimisticLockingFault">
<part name="fault" element="tns:OptimisticLockingFault" />
</message>
<message name="CreateDocument">
<part name="parameters" element="tns:CreateDocument" />
</message>
<message name="CreateDocumentResponse">
<part name="parameters" element="tns:CreateDocumentResponse" />
</message>
<message name="CreateDocumentFromServer">
<part name="parameters" element="tns:CreateDocumentFromServer" />
</message>
<message name="CreateDocumentFromServerResponse">
<part name="parameters" element="tns:CreateDocumentFromServerResponse" />
</message>
<message name="GetFileBinary">
<part name="parameters" element="tns:GetFileBinary" />
</message>
<message name="GetFileBinaryResponse">
<part name="parameters" element="tns:GetFileBinaryResponse" />
</message>
<message name="GetFileThumbnail">
<part name="parameters" element="tns:GetFileThumbnail" />
</message>
<message name="GetFileThumbnailResponse">
<part name="parameters" element="tns:GetFileThumbnailResponse" />
</message>
<message name="GetAllFiles">
<part name="parameters" element="tns:GetAllFiles" />
</message>
<message name="GetAllFilesResponse">
<part name="parameters" element="tns:GetAllFilesResponse" />
</message>
<message name="DeleteFile">
<part name="parameters" element="tns:DeleteFile" />
</message>
<message name="DeleteFileResponse">
<part name="parameters" element="tns:DeleteFileResponse" />
</message>
<message name="RotateImage">
<part name="parameters" element="tns:RotateImage" />
</message>
<message name="RotateImageResponse">
<part name="parameters" element="tns:RotateImageResponse" />
</message>
<message name="CheckConnection">
<part name="parameters" element="tns:CheckConnection" />
</message>
<message name="CheckConnectionResponse">
<part name="parameters" element="tns:CheckConnectionResponse" />
</message>
<portType name="DigitalArchive">
<operation name="GetDocument">
<input wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/GetDocumentRequest" message="tns:GetDocument" />
<output wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/GetDocumentResponse" message="tns:GetDocumentResponse" />
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/GetDocument/Fault/SOLAFault" />
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/GetDocument/Fault/UnhandledFault" />
</operation>
<operation name="SaveDocument">
<input wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/SaveDocumentRequest" message="tns:SaveDocument" />
<output wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/SaveDocumentResponse" message="tns:SaveDocumentResponse" />
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/SaveDocument/Fault/SOLAFault" />
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/SaveDocument/Fault/UnhandledFault" />
<fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/SaveDocument/Fault/OptimisticLockingFault" />
</operation>
<operation name="CreateDocument">
<input wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/CreateDocumentRequest" message="tns:CreateDocument" />
<output wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/CreateDocumentResponse" message="tns:CreateDocumentResponse" />
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/CreateDocument/Fault/SOLAFault" />
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/CreateDocument/Fault/UnhandledFault" />
</operation>
<operation name="CreateDocumentFromServer">
<input wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/CreateDocumentFromServerRequest" message="tns:CreateDocumentFromServer" />
<output wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/CreateDocumentFromServerResponse" message="tns:CreateDocumentFromServerResponse" />
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/CreateDocumentFromServer/Fault/SOLAFault" />
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/CreateDocumentFromServer/Fault/UnhandledFault" />
</operation>
<operation name="GetFileBinary">
<input wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/GetFileBinaryRequest" message="tns:GetFileBinary" />
<output wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/GetFileBinaryResponse" message="tns:GetFileBinaryResponse" />
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/GetFileBinary/Fault/SOLAFault" />
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/GetFileBinary/Fault/UnhandledFault" />
</operation>
<operation name="GetFileThumbnail">
<input wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/GetFileThumbnailRequest" message="tns:GetFileThumbnail" />
<output wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/GetFileThumbnailResponse" message="tns:GetFileThumbnailResponse" />
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/GetFileThumbnail/Fault/SOLAFault" />
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/GetFileThumbnail/Fault/UnhandledFault" />
</operation>
<operation name="GetAllFiles">
<input wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/GetAllFilesRequest" message="tns:GetAllFiles" />
<output wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/GetAllFilesResponse" message="tns:GetAllFilesResponse" />
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/GetAllFiles/Fault/SOLAFault" />
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/GetAllFiles/Fault/UnhandledFault" />
</operation>
<operation name="DeleteFile">
<input wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/DeleteFileRequest" message="tns:DeleteFile" />
<output wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/DeleteFileResponse" message="tns:DeleteFileResponse" />
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/DeleteFile/Fault/SOLAFault" />
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/DeleteFile/Fault/UnhandledFault" />
</operation>
<operation name="RotateImage">
<input wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/RotateImageRequest" message="tns:RotateImage" />
<output wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/RotateImageResponse" message="tns:RotateImageResponse" />
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/RotateImage/Fault/SOLAFault" />
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/RotateImage/Fault/UnhandledFault" />
</operation>
<operation name="CheckConnection">
<input wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/CheckConnectionRequest" message="tns:CheckConnection" />
<output wsam:Action="http://webservices.sola.org/digitalarchive/DigitalArchive/CheckConnectionResponse" message="tns:CheckConnectionResponse" />
</operation>
</portType>
<binding name="DigitalArchivePortBinding" type="tns:DigitalArchive">
    <wsp:PolicyReference URI="#DigitalArchivePortBindingPolicy"/>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="GetDocument">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal" />
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal" />
</fault>
</operation>
<operation name="SaveDocument">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal" />
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal" />
</fault>
<fault name="OptimisticLockingFault">
<soap:fault name="OptimisticLockingFault" use="literal" />
</fault>
</operation>
<operation name="CreateDocument">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal" />
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal" />
</fault>
</operation>
<operation name="CreateDocumentFromServer">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal" />
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal" />
</fault>
</operation>
<operation name="GetFileBinary">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal" />
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal" />
</fault>
</operation>
<operation name="GetFileThumbnail">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal" />
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal" />
</fault>
</operation>
<operation name="GetAllFiles">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal" />
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal" />
</fault>
</operation>
<operation name="DeleteFile">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal" />
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal" />
</fault>
</operation>
<operation name="RotateImage">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal" />
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal" />
</fault>
</operation>
<operation name="CheckConnection">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="digitalarchive-service">
<port name="DigitalArchivePort" binding="tns:DigitalArchivePortBinding">
<soap:address location="http://localhost:8080/sola/digitalarchive-service" />
</port>
</service>
    <wsp:Policy wsu:Id="DigitalArchivePortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sc:TrustStore wspp:visibility="private" type="JKS" storepass="changeit" peeralias="xws-security-server" location="cacerts.jks"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>