web-service-clients/src/main/resources/META-INF/referencedata-service.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.sola.org/referencedata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.sola.org/referencedata" name="referencedata-service" xmlns:sc="http://schemas.sun.com/2006/03/wss/client" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/transferobjects/referencedata/" schemaLocation="http://localhost:8080/sola/referencedata-service?xsd=1" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/transferobjects/" schemaLocation="http://localhost:8080/sola/referencedata-service?xsd=2" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/referencedata" schemaLocation="http://localhost:8080/sola/referencedata-service?xsd=3" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/faults/" schemaLocation="http://localhost:8080/sola/referencedata-service?xsd=4" />
</xsd:schema>
</types>
<message name="CheckConnection">
<part name="parameters" element="tns:CheckConnection" />
</message>
<message name="CheckConnectionResponse">
<part name="parameters" element="tns:CheckConnectionResponse" />
</message>
<message name="GetCommunicationTypes">
<part name="parameters" element="tns:GetCommunicationTypes" />
</message>
<message name="GetCommunicationTypesResponse">
<part name="parameters" element="tns:GetCommunicationTypesResponse" />
</message>
<message name="SOLAFault">
<part name="fault" element="tns:SOLAFault" />
</message>
<message name="UnhandledFault">
<part name="fault" element="tns:UnhandledFault" />
</message>
<message name="GetRequestTypes">
<part name="parameters" element="tns:GetRequestTypes" />
</message>
<message name="GetRequestTypesResponse">
<part name="parameters" element="tns:GetRequestTypesResponse" />
</message>
<message name="GetSourceTypes">
<part name="parameters" element="tns:GetSourceTypes" />
</message>
<message name="GetSourceTypesResponse">
<part name="parameters" element="tns:GetSourceTypesResponse" />
</message>
<message name="GetRequestTypeSourceTypes">
<part name="parameters" element="tns:GetRequestTypeSourceTypes" />
</message>
<message name="GetRequestTypeSourceTypesResponse">
<part name="parameters" element="tns:GetRequestTypeSourceTypesResponse" />
</message>
<portType name="ReferenceData">
<operation name="CheckConnection">
<input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/CheckConnectionRequest" message="tns:CheckConnection" />
<output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/CheckConnectionResponse" message="tns:CheckConnectionResponse" />
</operation>
<operation name="GetCommunicationTypes">
<input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetCommunicationTypesRequest" message="tns:GetCommunicationTypes" />
<output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetCommunicationTypesResponse" message="tns:GetCommunicationTypesResponse" />
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetCommunicationTypes/Fault/SOLAFault" />
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetCommunicationTypes/Fault/UnhandledFault" />
</operation>
<operation name="GetRequestTypes">
<input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRequestTypesRequest" message="tns:GetRequestTypes" />
<output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRequestTypesResponse" message="tns:GetRequestTypesResponse" />
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRequestTypes/Fault/SOLAFault" />
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRequestTypes/Fault/UnhandledFault" />
</operation>
<operation name="GetSourceTypes">
<input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetSourceTypesRequest" message="tns:GetSourceTypes" />
<output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetSourceTypesResponse" message="tns:GetSourceTypesResponse" />
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetSourceTypes/Fault/SOLAFault" />
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetSourceTypes/Fault/UnhandledFault" />
</operation>
<operation name="GetRequestTypeSourceTypes">
<input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRequestTypeSourceTypesRequest" message="tns:GetRequestTypeSourceTypes" />
<output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRequestTypeSourceTypesResponse" message="tns:GetRequestTypeSourceTypesResponse" />
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRequestTypeSourceTypes/Fault/SOLAFault" />
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRequestTypeSourceTypes/Fault/UnhandledFault" />
</operation>
</portType>
<binding name="ReferenceDataPortBinding" type="tns:ReferenceData">
    <wsp:PolicyReference URI="#ReferenceDataPortBindingPolicy"/>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="CheckConnection">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetCommunicationTypes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal" />
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal" />
</fault>
</operation>
<operation name="GetRequestTypes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal" />
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal" />
</fault>
</operation>
<operation name="GetSourceTypes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal" />
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal" />
</fault>
</operation>
<operation name="GetRequestTypeSourceTypes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal" />
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal" />
</fault>
</operation>
</binding>
<service name="referencedata-service">
<port name="ReferenceDataPort" binding="tns:ReferenceDataPortBinding">
<soap:address location="http://localhost:8080/sola/referencedata-service" />
</port>
</service>
    <wsp:Policy wsu:Id="ReferenceDataPortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sc:TrustStore wspp:visibility="private" type="JKS" storepass="changeit" peeralias="xws-security-server" location="cacerts.jks"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>