web-service-clients/src/main/resources/META-INF/referencedata-service.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.sola.org/referencedata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.sola.org/referencedata" name="referencedata-service" xmlns:sc="http://schemas.sun.com/2006/03/wss/client" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/transferobjects/referencedata/" schemaLocation="http://localhost:8080/sola/webservices/referencedata-service?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/transferobjects/" schemaLocation="http://localhost:8080/sola/webservices/referencedata-service?xsd=2"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/referencedata" schemaLocation="http://localhost:8080/sola/webservices/referencedata-service?xsd=3"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/faults/" schemaLocation="http://localhost:8080/sola/webservices/referencedata-service?xsd=4"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/bulkoperations" schemaLocation="http://localhost:8080/sola/webservices/referencedata-service?xsd=5"/>
</xsd:schema>
</types>
<message name="getConditionTypes">
<part name="parameters" element="tns:getConditionTypes"/>
</message>
<message name="getConditionTypesResponse">
<part name="parameters" element="tns:getConditionTypesResponse"/>
</message>
<message name="SOLAFault">
<part name="fault" element="tns:SOLAFault"/>
</message>
<message name="UnhandledFault">
<part name="fault" element="tns:UnhandledFault"/>
</message>
<message name="SOLAAccessFault">
<part name="fault" element="tns:SOLAAccessFault"/>
</message>
<message name="GetIdTypes">
<part name="parameters" element="tns:GetIdTypes"/>
</message>
<message name="GetIdTypesResponse">
<part name="parameters" element="tns:GetIdTypesResponse"/>
</message>
<message name="GetRRRTypes">
<part name="parameters" element="tns:GetRRRTypes"/>
</message>
<message name="GetRRRTypesResponse">
<part name="parameters" element="tns:GetRRRTypesResponse"/>
</message>
<message name="CheckConnection">
<part name="parameters" element="tns:CheckConnection"/>
</message>
<message name="CheckConnectionResponse">
<part name="parameters" element="tns:CheckConnectionResponse"/>
</message>
<message name="GetCommunicationTypes">
<part name="parameters" element="tns:GetCommunicationTypes"/>
</message>
<message name="GetCommunicationTypesResponse">
<part name="parameters" element="tns:GetCommunicationTypesResponse"/>
</message>
<message name="GetGenderTypes">
<part name="parameters" element="tns:GetGenderTypes"/>
</message>
<message name="GetGenderTypesResponse">
<part name="parameters" element="tns:GetGenderTypesResponse"/>
</message>
<message name="GetAvailabilityStatusList">
<part name="parameters" element="tns:GetAvailabilityStatusList"/>
</message>
<message name="GetAvailabilityStatusListResponse">
<part name="parameters" element="tns:GetAvailabilityStatusListResponse"/>
</message>
<message name="GetPresentationFormTypes">
<part name="parameters" element="tns:GetPresentationFormTypes"/>
</message>
<message name="GetPresentationFormTypesResponse">
<part name="parameters" element="tns:GetPresentationFormTypesResponse"/>
</message>
<message name="GetRequestTypes">
<part name="parameters" element="tns:GetRequestTypes"/>
</message>
<message name="GetRequestTypesResponse">
<part name="parameters" element="tns:GetRequestTypesResponse"/>
</message>
<message name="GetRequestCategoryTypes">
<part name="parameters" element="tns:GetRequestCategoryTypes"/>
</message>
<message name="GetRequestCategoryTypesResponse">
<part name="parameters" element="tns:GetRequestCategoryTypesResponse"/>
</message>
<message name="GetSourceTypes">
<part name="parameters" element="tns:GetSourceTypes"/>
</message>
<message name="GetSourceTypesResponse">
<part name="parameters" element="tns:GetSourceTypesResponse"/>
</message>
<message name="GetApplicationStatusTypes">
<part name="parameters" element="tns:GetApplicationStatusTypes"/>
</message>
<message name="GetApplicationStatusTypesResponse">
<part name="parameters" element="tns:GetApplicationStatusTypesResponse"/>
</message>
<message name="GetApplicationActionTypes">
<part name="parameters" element="tns:GetApplicationActionTypes"/>
</message>
<message name="GetApplicationActionTypesResponse">
<part name="parameters" element="tns:GetApplicationActionTypesResponse"/>
</message>
<message name="GetServiceStatusTypes">
<part name="parameters" element="tns:GetServiceStatusTypes"/>
</message>
<message name="GetServiceStatusTypesResponse">
<part name="parameters" element="tns:GetServiceStatusTypesResponse"/>
</message>
<message name="GetServiceActionTypes">
<part name="parameters" element="tns:GetServiceActionTypes"/>
</message>
<message name="GetServiceActionTypesResponse">
<part name="parameters" element="tns:GetServiceActionTypesResponse"/>
</message>
<message name="GetPartyTypes">
<part name="parameters" element="tns:GetPartyTypes"/>
</message>
<message name="GetPartyTypesResponse">
<part name="parameters" element="tns:GetPartyTypesResponse"/>
</message>
<message name="GetPartyRoles">
<part name="parameters" element="tns:GetPartyRoles"/>
</message>
<message name="GetPartyRolesResponse">
<part name="parameters" element="tns:GetPartyRolesResponse"/>
</message>
<message name="GetBaUnitTypes">
<part name="parameters" element="tns:GetBaUnitTypes"/>
</message>
<message name="GetBaUnitTypesResponse">
<part name="parameters" element="tns:GetBaUnitTypesResponse"/>
</message>
<message name="GetChangeStatuTypes">
<part name="parameters" element="tns:GetChangeStatuTypes"/>
</message>
<message name="GetChangeStatuTypesResponse">
<part name="parameters" element="tns:GetChangeStatuTypesResponse"/>
</message>
<message name="GetMortgageTypes">
<part name="parameters" element="tns:GetMortgageTypes"/>
</message>
<message name="GetMortgageTypesResponse">
<part name="parameters" element="tns:GetMortgageTypesResponse"/>
</message>
<message name="GetRRRGroupTypes">
<part name="parameters" element="tns:GetRRRGroupTypes"/>
</message>
<message name="GetRRRGroupTypesResponse">
<part name="parameters" element="tns:GetRRRGroupTypesResponse"/>
</message>
<message name="GetSourceBaUnitRelationTypes">
<part name="parameters" element="tns:GetSourceBaUnitRelationTypes"/>
</message>
<message name="GetSourceBaUnitRelationTypesResponse">
<part name="parameters" element="tns:GetSourceBaUnitRelationTypesResponse"/>
</message>
<message name="GetRegistrationStatusTypes">
<part name="parameters" element="tns:GetRegistrationStatusTypes"/>
</message>
<message name="GetRegistrationStatusTypesResponse">
<part name="parameters" element="tns:GetRegistrationStatusTypesResponse"/>
</message>
<message name="GetLandUseTypes">
<part name="parameters" element="tns:GetLandUseTypes"/>
</message>
<message name="GetLandUseTypesResponse">
<part name="parameters" element="tns:GetLandUseTypesResponse"/>
</message>
<message name="GetCadastreObjectTypes">
<part name="parameters" element="tns:GetCadastreObjectTypes"/>
</message>
<message name="GetCadastreObjectTypesResponse">
<part name="parameters" element="tns:GetCadastreObjectTypesResponse"/>
</message>
<message name="GetTypeActions">
<part name="parameters" element="tns:GetTypeActions"/>
</message>
<message name="GetTypeActionsResponse">
<part name="parameters" element="tns:GetTypeActionsResponse"/>
</message>
<message name="GetBrTechnicalTypes">
<part name="parameters" element="tns:GetBrTechnicalTypes"/>
</message>
<message name="GetBrTechnicalTypesResponse">
<part name="parameters" element="tns:GetBrTechnicalTypesResponse"/>
</message>
<message name="GetBrValidationTargetTypes">
<part name="parameters" element="tns:GetBrValidationTargetTypes"/>
</message>
<message name="GetBrValidationTargetTypesResponse">
<part name="parameters" element="tns:GetBrValidationTargetTypesResponse"/>
</message>
<message name="GetBrSeverityTypes">
<part name="parameters" element="tns:GetBrSeverityTypes"/>
</message>
<message name="GetBrSeverityTypesResponse">
<part name="parameters" element="tns:GetBrSeverityTypesResponse"/>
</message>
<message name="GetBaUnitRelTypes">
<part name="parameters" element="tns:GetBaUnitRelTypes"/>
</message>
<message name="GetBaUnitRelTypesResponse">
<part name="parameters" element="tns:GetBaUnitRelTypesResponse"/>
</message>
<message name="GetHierarchyLevels">
<part name="parameters" element="tns:GetHierarchyLevels"/>
</message>
<message name="GetHierarchyLevelsResponse">
<part name="parameters" element="tns:GetHierarchyLevelsResponse"/>
</message>
<message name="saveReferenceData">
<part name="parameters" element="tns:saveReferenceData"/>
</message>
<message name="saveReferenceDataResponse">
<part name="parameters" element="tns:saveReferenceDataResponse"/>
</message>
<message name="OptimisticLockingFault">
<part name="fault" element="tns:OptimisticLockingFault"/>
</message>
<portType name="ReferenceData">
<operation name="getConditionTypes">
<input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/getConditionTypesRequest" message="tns:getConditionTypes"/>
<output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/getConditionTypesResponse" message="tns:getConditionTypesResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/getConditionTypes/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/getConditionTypes/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/getConditionTypes/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetIdTypes">
<input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetIdTypesRequest" message="tns:GetIdTypes"/>
<output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetIdTypesResponse" message="tns:GetIdTypesResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetIdTypes/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetIdTypes/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetIdTypes/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetRRRTypes">
<input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRRRTypesRequest" message="tns:GetRRRTypes"/>
<output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRRRTypesResponse" message="tns:GetRRRTypesResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRRRTypes/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRRRTypes/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRRRTypes/Fault/SOLAAccessFault"/>
</operation>
<operation name="CheckConnection">
<input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/CheckConnectionRequest" message="tns:CheckConnection"/>
<output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/CheckConnectionResponse" message="tns:CheckConnectionResponse"/>
</operation>
<operation name="GetCommunicationTypes">
<input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetCommunicationTypesRequest" message="tns:GetCommunicationTypes"/>
<output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetCommunicationTypesResponse" message="tns:GetCommunicationTypesResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetCommunicationTypes/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetCommunicationTypes/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetCommunicationTypes/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetGenderTypes">
<input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetGenderTypesRequest" message="tns:GetGenderTypes"/>
<output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetGenderTypesResponse" message="tns:GetGenderTypesResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetGenderTypes/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetGenderTypes/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetGenderTypes/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetAvailabilityStatusList">
<input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetAvailabilityStatusListRequest" message="tns:GetAvailabilityStatusList"/>
<output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetAvailabilityStatusListResponse" message="tns:GetAvailabilityStatusListResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetAvailabilityStatusList/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetAvailabilityStatusList/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetAvailabilityStatusList/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetPresentationFormTypes">
<input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetPresentationFormTypesRequest" message="tns:GetPresentationFormTypes"/>
<output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetPresentationFormTypesResponse" message="tns:GetPresentationFormTypesResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetPresentationFormTypes/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetPresentationFormTypes/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetPresentationFormTypes/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetRequestTypes">
<input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRequestTypesRequest" message="tns:GetRequestTypes"/>
<output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRequestTypesResponse" message="tns:GetRequestTypesResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRequestTypes/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRequestTypes/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRequestTypes/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetRequestCategoryTypes">
<input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRequestCategoryTypesRequest" message="tns:GetRequestCategoryTypes"/>
<output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRequestCategoryTypesResponse" message="tns:GetRequestCategoryTypesResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRequestCategoryTypes/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRequestCategoryTypes/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRequestCategoryTypes/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetSourceTypes">
<input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetSourceTypesRequest" message="tns:GetSourceTypes"/>
<output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetSourceTypesResponse" message="tns:GetSourceTypesResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetSourceTypes/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetSourceTypes/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetSourceTypes/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetApplicationStatusTypes">
<input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetApplicationStatusTypesRequest" message="tns:GetApplicationStatusTypes"/>
<output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetApplicationStatusTypesResponse" message="tns:GetApplicationStatusTypesResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetApplicationStatusTypes/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetApplicationStatusTypes/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetApplicationStatusTypes/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetApplicationActionTypes">
<input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetApplicationActionTypesRequest" message="tns:GetApplicationActionTypes"/>
<output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetApplicationActionTypesResponse" message="tns:GetApplicationActionTypesResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetApplicationActionTypes/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetApplicationActionTypes/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetApplicationActionTypes/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetServiceStatusTypes">
<input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetServiceStatusTypesRequest" message="tns:GetServiceStatusTypes"/>
<output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetServiceStatusTypesResponse" message="tns:GetServiceStatusTypesResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetServiceStatusTypes/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetServiceStatusTypes/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetServiceStatusTypes/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetServiceActionTypes">
<input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetServiceActionTypesRequest" message="tns:GetServiceActionTypes"/>
<output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetServiceActionTypesResponse" message="tns:GetServiceActionTypesResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetServiceActionTypes/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetServiceActionTypes/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetServiceActionTypes/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetPartyTypes">
<input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetPartyTypesRequest" message="tns:GetPartyTypes"/>
<output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetPartyTypesResponse" message="tns:GetPartyTypesResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetPartyTypes/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetPartyTypes/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetPartyTypes/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetPartyRoles">
<input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetPartyRolesRequest" message="tns:GetPartyRoles"/>
<output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetPartyRolesResponse" message="tns:GetPartyRolesResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetPartyRoles/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetPartyRoles/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetPartyRoles/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetBaUnitTypes">
<input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBaUnitTypesRequest" message="tns:GetBaUnitTypes"/>
<output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBaUnitTypesResponse" message="tns:GetBaUnitTypesResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBaUnitTypes/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBaUnitTypes/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBaUnitTypes/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetChangeStatuTypes">
<input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetChangeStatuTypesRequest" message="tns:GetChangeStatuTypes"/>
<output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetChangeStatuTypesResponse" message="tns:GetChangeStatuTypesResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetChangeStatuTypes/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetChangeStatuTypes/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetChangeStatuTypes/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetMortgageTypes">
<input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetMortgageTypesRequest" message="tns:GetMortgageTypes"/>
<output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetMortgageTypesResponse" message="tns:GetMortgageTypesResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetMortgageTypes/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetMortgageTypes/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetMortgageTypes/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetRRRGroupTypes">
<input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRRRGroupTypesRequest" message="tns:GetRRRGroupTypes"/>
<output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRRRGroupTypesResponse" message="tns:GetRRRGroupTypesResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRRRGroupTypes/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRRRGroupTypes/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRRRGroupTypes/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetSourceBaUnitRelationTypes">
<input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetSourceBaUnitRelationTypesRequest" message="tns:GetSourceBaUnitRelationTypes"/>
<output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetSourceBaUnitRelationTypesResponse" message="tns:GetSourceBaUnitRelationTypesResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetSourceBaUnitRelationTypes/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetSourceBaUnitRelationTypes/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetSourceBaUnitRelationTypes/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetRegistrationStatusTypes">
<input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRegistrationStatusTypesRequest" message="tns:GetRegistrationStatusTypes"/>
<output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRegistrationStatusTypesResponse" message="tns:GetRegistrationStatusTypesResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRegistrationStatusTypes/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRegistrationStatusTypes/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetRegistrationStatusTypes/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetLandUseTypes">
<input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetLandUseTypesRequest" message="tns:GetLandUseTypes"/>
<output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetLandUseTypesResponse" message="tns:GetLandUseTypesResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetLandUseTypes/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetLandUseTypes/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetLandUseTypes/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetCadastreObjectTypes">
<input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetCadastreObjectTypesRequest" message="tns:GetCadastreObjectTypes"/>
<output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetCadastreObjectTypesResponse" message="tns:GetCadastreObjectTypesResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetCadastreObjectTypes/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetCadastreObjectTypes/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetCadastreObjectTypes/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetTypeActions">
<input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetTypeActionsRequest" message="tns:GetTypeActions"/>
<output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetTypeActionsResponse" message="tns:GetTypeActionsResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetTypeActions/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetTypeActions/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetTypeActions/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetBrTechnicalTypes">
<input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBrTechnicalTypesRequest" message="tns:GetBrTechnicalTypes"/>
<output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBrTechnicalTypesResponse" message="tns:GetBrTechnicalTypesResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBrTechnicalTypes/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBrTechnicalTypes/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBrTechnicalTypes/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetBrValidationTargetTypes">
<input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBrValidationTargetTypesRequest" message="tns:GetBrValidationTargetTypes"/>
<output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBrValidationTargetTypesResponse" message="tns:GetBrValidationTargetTypesResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBrValidationTargetTypes/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBrValidationTargetTypes/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBrValidationTargetTypes/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetBrSeverityTypes">
<input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBrSeverityTypesRequest" message="tns:GetBrSeverityTypes"/>
<output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBrSeverityTypesResponse" message="tns:GetBrSeverityTypesResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBrSeverityTypes/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBrSeverityTypes/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBrSeverityTypes/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetBaUnitRelTypes">
<input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBaUnitRelTypesRequest" message="tns:GetBaUnitRelTypes"/>
<output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBaUnitRelTypesResponse" message="tns:GetBaUnitRelTypesResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBaUnitRelTypes/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBaUnitRelTypes/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetBaUnitRelTypes/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetHierarchyLevels">
<input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetHierarchyLevelsRequest" message="tns:GetHierarchyLevels"/>
<output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetHierarchyLevelsResponse" message="tns:GetHierarchyLevelsResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetHierarchyLevels/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetHierarchyLevels/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/GetHierarchyLevels/Fault/SOLAAccessFault"/>
</operation>
<operation name="saveReferenceData">
<input wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/saveReferenceDataRequest" message="tns:saveReferenceData"/>
<output wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/saveReferenceDataResponse" message="tns:saveReferenceDataResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/saveReferenceData/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/saveReferenceData/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/saveReferenceData/Fault/SOLAAccessFault"/>
<fault message="tns:OptimisticLockingFault" name="OptimisticLockingFault" wsam:Action="http://webservices.sola.org/referencedata/ReferenceData/saveReferenceData/Fault/OptimisticLockingFault"/>
</operation>
</portType>
<binding name="ReferenceDataPortBinding" type="tns:ReferenceData">
    <wsp:PolicyReference URI="#ReferenceDataPortBindingPolicy"/>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getConditionTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetIdTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetRRRTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="CheckConnection">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetCommunicationTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetGenderTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetAvailabilityStatusList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetPresentationFormTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetRequestTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetRequestCategoryTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetSourceTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetApplicationStatusTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetApplicationActionTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetServiceStatusTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetServiceActionTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetPartyTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetPartyRoles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetBaUnitTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetChangeStatuTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetMortgageTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetRRRGroupTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetSourceBaUnitRelationTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetRegistrationStatusTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetLandUseTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetCadastreObjectTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetTypeActions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetBrTechnicalTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetBrValidationTargetTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetBrSeverityTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetBaUnitRelTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetHierarchyLevels">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="saveReferenceData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
<fault name="OptimisticLockingFault">
<soap:fault name="OptimisticLockingFault" use="literal"/>
</fault>
</operation>
</binding>
<service name="referencedata-service">
<port name="ReferenceDataPort" binding="tns:ReferenceDataPortBinding">
<soap:address location="http://localhost:8080/sola/webservices/referencedata-service"/>
</port>
</service>
    <wsp:Policy wsu:Id="ReferenceDataPortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sc:TrustStore wspp:visibility="private" type="JKS" storepass="${wsit.truststore.storepass}" peeralias="${wsit.truststore.peeralias}" location="${wsit.truststore.location}"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>