web-service-clients/src/main/resources/META-INF/search-service.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.sola.org/search" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.sola.org/search" name="search-service" xmlns:sc="http://schemas.sun.com/2006/03/wss/client" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/transferobjects/search/" schemaLocation="http://localhost:8080/sola/search-service?xsd=1" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/transferobjects/" schemaLocation="http://localhost:8080/sola/search-service?xsd=2" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/search" schemaLocation="http://localhost:8080/sola/search-service?xsd=3" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/faults/" schemaLocation="http://localhost:8080/sola/search-service?xsd=4" />
</xsd:schema>
</types>
<message name="CheckConnection">
<part name="parameters" element="tns:CheckConnection" />
</message>
<message name="CheckConnectionResponse">
<part name="parameters" element="tns:CheckConnectionResponse" />
</message>
<message name="VerifyApplicationProperty">
<part name="parameters" element="tns:VerifyApplicationProperty" />
</message>
<message name="VerifyApplicationPropertyResponse">
<part name="parameters" element="tns:VerifyApplicationPropertyResponse" />
</message>
<message name="SOLAFault">
<part name="fault" element="tns:SOLAFault" />
</message>
<message name="UnhandledFault">
<part name="fault" element="tns:UnhandledFault" />
</message>
<message name="GetUnassignedApplications">
<part name="parameters" element="tns:GetUnassignedApplications" />
</message>
<message name="GetUnassignedApplicationsResponse">
<part name="parameters" element="tns:GetUnassignedApplicationsResponse" />
</message>
<message name="GetAssignedApplications">
<part name="parameters" element="tns:GetAssignedApplications" />
</message>
<message name="GetAssignedApplicationsResponse">
<part name="parameters" element="tns:GetAssignedApplicationsResponse" />
</message>
<message name="SearchApplications">
<part name="parameters" element="tns:SearchApplications" />
</message>
<message name="SearchApplicationsResponse">
<part name="parameters" element="tns:SearchApplicationsResponse" />
</message>
<message name="GetGeometryTest">
<part name="parameters" element="tns:GetGeometryTest" />
</message>
<message name="GetGeometryTestResponse">
<part name="parameters" element="tns:GetGeometryTestResponse" />
</message>
<message name="GetGeometryTestRaw">
<part name="parameters" element="tns:GetGeometryTestRaw" />
</message>
<message name="GetGeometryTestRawResponse">
<part name="parameters" element="tns:GetGeometryTestRawResponse" />
</message>
<message name="GetGeometryConvertedTest">
<part name="parameters" element="tns:GetGeometryConvertedTest" />
</message>
<message name="GetGeometryConvertedTestResponse">
<part name="parameters" element="tns:GetGeometryConvertedTestResponse" />
</message>
<portType name="Search">
<operation name="CheckConnection">
<input wsam:Action="http://webservices.sola.org/search/Search/CheckConnectionRequest" message="tns:CheckConnection" />
<output wsam:Action="http://webservices.sola.org/search/Search/CheckConnectionResponse" message="tns:CheckConnectionResponse" />
</operation>
<operation name="VerifyApplicationProperty">
<input wsam:Action="http://webservices.sola.org/search/Search/VerifyApplicationPropertyRequest" message="tns:VerifyApplicationProperty" />
<output wsam:Action="http://webservices.sola.org/search/Search/VerifyApplicationPropertyResponse" message="tns:VerifyApplicationPropertyResponse" />
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/search/Search/VerifyApplicationProperty/Fault/SOLAFault" />
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/search/Search/VerifyApplicationProperty/Fault/UnhandledFault" />
</operation>
<operation name="GetUnassignedApplications">
<input wsam:Action="http://webservices.sola.org/search/Search/GetUnassignedApplicationsRequest" message="tns:GetUnassignedApplications" />
<output wsam:Action="http://webservices.sola.org/search/Search/GetUnassignedApplicationsResponse" message="tns:GetUnassignedApplicationsResponse" />
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/search/Search/GetUnassignedApplications/Fault/SOLAFault" />
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/search/Search/GetUnassignedApplications/Fault/UnhandledFault" />
</operation>
<operation name="GetAssignedApplications">
<input wsam:Action="http://webservices.sola.org/search/Search/GetAssignedApplicationsRequest" message="tns:GetAssignedApplications" />
<output wsam:Action="http://webservices.sola.org/search/Search/GetAssignedApplicationsResponse" message="tns:GetAssignedApplicationsResponse" />
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/search/Search/GetAssignedApplications/Fault/SOLAFault" />
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/search/Search/GetAssignedApplications/Fault/UnhandledFault" />
</operation>
<operation name="SearchApplications">
<input wsam:Action="http://webservices.sola.org/search/Search/SearchApplicationsRequest" message="tns:SearchApplications" />
<output wsam:Action="http://webservices.sola.org/search/Search/SearchApplicationsResponse" message="tns:SearchApplicationsResponse" />
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/search/Search/SearchApplications/Fault/SOLAFault" />
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/search/Search/SearchApplications/Fault/UnhandledFault" />
</operation>
<operation name="GetGeometryTest">
<input wsam:Action="http://webservices.sola.org/search/Search/GetGeometryTestRequest" message="tns:GetGeometryTest" />
<output wsam:Action="http://webservices.sola.org/search/Search/GetGeometryTestResponse" message="tns:GetGeometryTestResponse" />
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/search/Search/GetGeometryTest/Fault/SOLAFault" />
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/search/Search/GetGeometryTest/Fault/UnhandledFault" />
</operation>
<operation name="GetGeometryTestRaw">
<input wsam:Action="http://webservices.sola.org/search/Search/GetGeometryTestRawRequest" message="tns:GetGeometryTestRaw" />
<output wsam:Action="http://webservices.sola.org/search/Search/GetGeometryTestRawResponse" message="tns:GetGeometryTestRawResponse" />
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/search/Search/GetGeometryTestRaw/Fault/SOLAFault" />
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/search/Search/GetGeometryTestRaw/Fault/UnhandledFault" />
</operation>
<operation name="GetGeometryConvertedTest">
<input wsam:Action="http://webservices.sola.org/search/Search/GetGeometryConvertedTestRequest" message="tns:GetGeometryConvertedTest" />
<output wsam:Action="http://webservices.sola.org/search/Search/GetGeometryConvertedTestResponse" message="tns:GetGeometryConvertedTestResponse" />
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/search/Search/GetGeometryConvertedTest/Fault/SOLAFault" />
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/search/Search/GetGeometryConvertedTest/Fault/UnhandledFault" />
</operation>
</portType>
<binding name="SearchPortBinding" type="tns:Search">
    <wsp:PolicyReference URI="#SearchPortBindingPolicy"/>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="CheckConnection">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="VerifyApplicationProperty">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal" />
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal" />
</fault>
</operation>
<operation name="GetUnassignedApplications">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal" />
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal" />
</fault>
</operation>
<operation name="GetAssignedApplications">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal" />
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal" />
</fault>
</operation>
<operation name="SearchApplications">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal" />
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal" />
</fault>
</operation>
<operation name="GetGeometryTest">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal" />
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal" />
</fault>
</operation>
<operation name="GetGeometryTestRaw">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal" />
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal" />
</fault>
</operation>
<operation name="GetGeometryConvertedTest">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal" />
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal" />
</fault>
</operation>
</binding>
<service name="search-service">
<port name="SearchPort" binding="tns:SearchPortBinding">
<soap:address location="http://localhost:8080/sola/search-service" />
</port>
</service>
    <wsp:Policy wsu:Id="SearchPortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sc:TrustStore wspp:visibility="private" type="JKS" storepass="changeit" peeralias="xws-security-server" location="cacerts.jks"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>