web-service-clients/src/main/resources/META-INF/search-service.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.sola.org/search" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.sola.org/search" name="search-service" xmlns:sc="http://schemas.sun.com/2006/03/wss/client" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/transferobjects/security/" schemaLocation="http://localhost:8080/sola/webservices/search-service?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/transferobjects/search/" schemaLocation="http://localhost:8080/sola/webservices/search-service?xsd=2"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/transferobjects/casemanagement/" schemaLocation="http://localhost:8080/sola/webservices/search-service?xsd=3"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/transferobjects/cadastre/" schemaLocation="http://localhost:8080/sola/webservices/search-service?xsd=4"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/transferobjects/" schemaLocation="http://localhost:8080/sola/webservices/search-service?xsd=5"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/search" schemaLocation="http://localhost:8080/sola/webservices/search-service?xsd=6"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/faults/" schemaLocation="http://localhost:8080/sola/webservices/search-service?xsd=7"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://webservices.sola.org/bulkoperations" schemaLocation="http://localhost:8080/sola/webservices/search-service?xsd=8"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8080/sola/webservices/search-service?xsd=9"/>
</xsd:schema>
</types>
<message name="getApplicationLog">
<part name="parameters" element="tns:getApplicationLog"/>
</message>
<message name="getApplicationLogResponse">
<part name="parameters" element="tns:getApplicationLogResponse"/>
</message>
<message name="SOLAFault">
<part name="fault" element="tns:SOLAFault"/>
</message>
<message name="UnhandledFault">
<part name="fault" element="tns:UnhandledFault"/>
</message>
<message name="SOLAAccessFault">
<part name="fault" element="tns:SOLAAccessFault"/>
</message>
<message name="SearchParties">
<part name="parameters" element="tns:SearchParties"/>
</message>
<message name="SearchPartiesResponse">
<part name="parameters" element="tns:SearchPartiesResponse"/>
</message>
<message name="SearchSources">
<part name="parameters" element="tns:SearchSources"/>
</message>
<message name="SearchSourcesResponse">
<part name="parameters" element="tns:SearchSourcesResponse"/>
</message>
<message name="searchPowerOfAttorney">
<part name="parameters" element="tns:searchPowerOfAttorney"/>
</message>
<message name="searchPowerOfAttorneyResponse">
<part name="parameters" element="tns:searchPowerOfAttorneyResponse"/>
</message>
<message name="GetActiveUsers">
<part name="parameters" element="tns:GetActiveUsers"/>
</message>
<message name="GetActiveUsersResponse">
<part name="parameters" element="tns:GetActiveUsersResponse"/>
</message>
<message name="searchRightsForExport">
<part name="parameters" element="tns:searchRightsForExport"/>
</message>
<message name="searchRightsForExportResponse">
<part name="parameters" element="tns:searchRightsForExportResponse"/>
</message>
<message name="searchBaUnit">
<part name="parameters" element="tns:searchBaUnit"/>
</message>
<message name="searchBaUnitResponse">
<part name="parameters" element="tns:searchBaUnitResponse"/>
</message>
<message name="Select">
<part name="parameters" element="tns:Select"/>
</message>
<message name="SelectResponse">
<part name="parameters" element="tns:SelectResponse"/>
</message>
<message name="searchUsers">
<part name="parameters" element="tns:searchUsers"/>
</message>
<message name="searchUsersResponse">
<part name="parameters" element="tns:searchUsersResponse"/>
</message>
<message name="SearchBr">
<part name="parameters" element="tns:SearchBr"/>
</message>
<message name="SearchBrResponse">
<part name="parameters" element="tns:SearchBrResponse"/>
</message>
<message name="CheckConnection">
<part name="parameters" element="tns:CheckConnection"/>
</message>
<message name="CheckConnectionResponse">
<part name="parameters" element="tns:CheckConnectionResponse"/>
</message>
<message name="VerifyApplicationProperty">
<part name="parameters" element="tns:VerifyApplicationProperty"/>
</message>
<message name="VerifyApplicationPropertyResponse">
<part name="parameters" element="tns:VerifyApplicationPropertyResponse"/>
</message>
<message name="GetUnassignedApplications">
<part name="parameters" element="tns:GetUnassignedApplications"/>
</message>
<message name="GetUnassignedApplicationsResponse">
<part name="parameters" element="tns:GetUnassignedApplicationsResponse"/>
</message>
<message name="GetAssignedApplications">
<part name="parameters" element="tns:GetAssignedApplications"/>
</message>
<message name="GetAssignedApplicationsResponse">
<part name="parameters" element="tns:GetAssignedApplicationsResponse"/>
</message>
<message name="SearchApplications">
<part name="parameters" element="tns:SearchApplications"/>
</message>
<message name="SearchApplicationsResponse">
<part name="parameters" element="tns:SearchApplicationsResponse"/>
</message>
<message name="GetSpatialSearchOptions">
<part name="parameters" element="tns:GetSpatialSearchOptions"/>
</message>
<message name="GetSpatialSearchOptionsResponse">
<part name="parameters" element="tns:GetSpatialSearchOptionsResponse"/>
</message>
<message name="SearchSpatialObjects">
<part name="parameters" element="tns:SearchSpatialObjects"/>
</message>
<message name="SearchSpatialObjectsResponse">
<part name="parameters" element="tns:SearchSpatialObjectsResponse"/>
</message>
<message name="GetMapDefinition">
<part name="parameters" element="tns:GetMapDefinition"/>
</message>
<message name="GetMapDefinitionResponse">
<part name="parameters" element="tns:GetMapDefinitionResponse"/>
</message>
<message name="GetExtentOfPublicDisplayMap">
<part name="parameters" element="tns:GetExtentOfPublicDisplayMap"/>
</message>
<message name="GetExtentOfPublicDisplayMapResponse">
<part name="parameters" element="tns:GetExtentOfPublicDisplayMapResponse"/>
</message>
<message name="GetMapCenterLabel">
<part name="parameters" element="tns:GetMapCenterLabel"/>
</message>
<message name="GetMapCenterLabelResponse">
<part name="parameters" element="tns:GetMapCenterLabelResponse"/>
</message>
<portType name="Search">
<operation name="getApplicationLog">
<input wsam:Action="http://webservices.sola.org/search/Search/getApplicationLogRequest" message="tns:getApplicationLog"/>
<output wsam:Action="http://webservices.sola.org/search/Search/getApplicationLogResponse" message="tns:getApplicationLogResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/search/Search/getApplicationLog/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/search/Search/getApplicationLog/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/search/Search/getApplicationLog/Fault/SOLAAccessFault"/>
</operation>
<operation name="SearchParties">
<input wsam:Action="http://webservices.sola.org/search/Search/SearchPartiesRequest" message="tns:SearchParties"/>
<output wsam:Action="http://webservices.sola.org/search/Search/SearchPartiesResponse" message="tns:SearchPartiesResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/search/Search/SearchParties/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/search/Search/SearchParties/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/search/Search/SearchParties/Fault/SOLAAccessFault"/>
</operation>
<operation name="SearchSources">
<input wsam:Action="http://webservices.sola.org/search/Search/SearchSourcesRequest" message="tns:SearchSources"/>
<output wsam:Action="http://webservices.sola.org/search/Search/SearchSourcesResponse" message="tns:SearchSourcesResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/search/Search/SearchSources/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/search/Search/SearchSources/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/search/Search/SearchSources/Fault/SOLAAccessFault"/>
</operation>
<operation name="searchPowerOfAttorney">
<input wsam:Action="http://webservices.sola.org/search/Search/searchPowerOfAttorneyRequest" message="tns:searchPowerOfAttorney"/>
<output wsam:Action="http://webservices.sola.org/search/Search/searchPowerOfAttorneyResponse" message="tns:searchPowerOfAttorneyResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/search/Search/searchPowerOfAttorney/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/search/Search/searchPowerOfAttorney/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/search/Search/searchPowerOfAttorney/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetActiveUsers">
<input wsam:Action="http://webservices.sola.org/search/Search/GetActiveUsersRequest" message="tns:GetActiveUsers"/>
<output wsam:Action="http://webservices.sola.org/search/Search/GetActiveUsersResponse" message="tns:GetActiveUsersResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/search/Search/GetActiveUsers/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/search/Search/GetActiveUsers/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/search/Search/GetActiveUsers/Fault/SOLAAccessFault"/>
</operation>
<operation name="searchRightsForExport">
<input wsam:Action="http://webservices.sola.org/search/Search/searchRightsForExportRequest" message="tns:searchRightsForExport"/>
<output wsam:Action="http://webservices.sola.org/search/Search/searchRightsForExportResponse" message="tns:searchRightsForExportResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/search/Search/searchRightsForExport/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/search/Search/searchRightsForExport/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/search/Search/searchRightsForExport/Fault/SOLAAccessFault"/>
</operation>
<operation name="searchBaUnit">
<input wsam:Action="http://webservices.sola.org/search/Search/searchBaUnitRequest" message="tns:searchBaUnit"/>
<output wsam:Action="http://webservices.sola.org/search/Search/searchBaUnitResponse" message="tns:searchBaUnitResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/search/Search/searchBaUnit/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/search/Search/searchBaUnit/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/search/Search/searchBaUnit/Fault/SOLAAccessFault"/>
</operation>
<operation name="Select">
<input wsam:Action="http://webservices.sola.org/search/Search/SelectRequest" message="tns:Select"/>
<output wsam:Action="http://webservices.sola.org/search/Search/SelectResponse" message="tns:SelectResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/search/Search/Select/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/search/Search/Select/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/search/Search/Select/Fault/SOLAAccessFault"/>
</operation>
<operation name="searchUsers">
<input wsam:Action="http://webservices.sola.org/search/Search/searchUsersRequest" message="tns:searchUsers"/>
<output wsam:Action="http://webservices.sola.org/search/Search/searchUsersResponse" message="tns:searchUsersResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/search/Search/searchUsers/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/search/Search/searchUsers/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/search/Search/searchUsers/Fault/SOLAAccessFault"/>
</operation>
<operation name="SearchBr">
<input wsam:Action="http://webservices.sola.org/search/Search/SearchBrRequest" message="tns:SearchBr"/>
<output wsam:Action="http://webservices.sola.org/search/Search/SearchBrResponse" message="tns:SearchBrResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/search/Search/SearchBr/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/search/Search/SearchBr/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/search/Search/SearchBr/Fault/SOLAAccessFault"/>
</operation>
<operation name="CheckConnection">
<input wsam:Action="http://webservices.sola.org/search/Search/CheckConnectionRequest" message="tns:CheckConnection"/>
<output wsam:Action="http://webservices.sola.org/search/Search/CheckConnectionResponse" message="tns:CheckConnectionResponse"/>
</operation>
<operation name="VerifyApplicationProperty">
<input wsam:Action="http://webservices.sola.org/search/Search/VerifyApplicationPropertyRequest" message="tns:VerifyApplicationProperty"/>
<output wsam:Action="http://webservices.sola.org/search/Search/VerifyApplicationPropertyResponse" message="tns:VerifyApplicationPropertyResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/search/Search/VerifyApplicationProperty/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/search/Search/VerifyApplicationProperty/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/search/Search/VerifyApplicationProperty/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetUnassignedApplications">
<input wsam:Action="http://webservices.sola.org/search/Search/GetUnassignedApplicationsRequest" message="tns:GetUnassignedApplications"/>
<output wsam:Action="http://webservices.sola.org/search/Search/GetUnassignedApplicationsResponse" message="tns:GetUnassignedApplicationsResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/search/Search/GetUnassignedApplications/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/search/Search/GetUnassignedApplications/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/search/Search/GetUnassignedApplications/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetAssignedApplications">
<input wsam:Action="http://webservices.sola.org/search/Search/GetAssignedApplicationsRequest" message="tns:GetAssignedApplications"/>
<output wsam:Action="http://webservices.sola.org/search/Search/GetAssignedApplicationsResponse" message="tns:GetAssignedApplicationsResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/search/Search/GetAssignedApplications/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/search/Search/GetAssignedApplications/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/search/Search/GetAssignedApplications/Fault/SOLAAccessFault"/>
</operation>
<operation name="SearchApplications">
<input wsam:Action="http://webservices.sola.org/search/Search/SearchApplicationsRequest" message="tns:SearchApplications"/>
<output wsam:Action="http://webservices.sola.org/search/Search/SearchApplicationsResponse" message="tns:SearchApplicationsResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/search/Search/SearchApplications/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/search/Search/SearchApplications/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/search/Search/SearchApplications/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetSpatialSearchOptions">
<input wsam:Action="http://webservices.sola.org/search/Search/GetSpatialSearchOptionsRequest" message="tns:GetSpatialSearchOptions"/>
<output wsam:Action="http://webservices.sola.org/search/Search/GetSpatialSearchOptionsResponse" message="tns:GetSpatialSearchOptionsResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/search/Search/GetSpatialSearchOptions/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/search/Search/GetSpatialSearchOptions/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/search/Search/GetSpatialSearchOptions/Fault/SOLAAccessFault"/>
</operation>
<operation name="SearchSpatialObjects">
<input wsam:Action="http://webservices.sola.org/search/Search/SearchSpatialObjectsRequest" message="tns:SearchSpatialObjects"/>
<output wsam:Action="http://webservices.sola.org/search/Search/SearchSpatialObjectsResponse" message="tns:SearchSpatialObjectsResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/search/Search/SearchSpatialObjects/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/search/Search/SearchSpatialObjects/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/search/Search/SearchSpatialObjects/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetMapDefinition">
<input wsam:Action="http://webservices.sola.org/search/Search/GetMapDefinitionRequest" message="tns:GetMapDefinition"/>
<output wsam:Action="http://webservices.sola.org/search/Search/GetMapDefinitionResponse" message="tns:GetMapDefinitionResponse"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/search/Search/GetMapDefinition/Fault/UnhandledFault"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/search/Search/GetMapDefinition/Fault/SOLAFault"/>
</operation>
<operation name="GetExtentOfPublicDisplayMap">
<input wsam:Action="http://webservices.sola.org/search/Search/GetExtentOfPublicDisplayMapRequest" message="tns:GetExtentOfPublicDisplayMap"/>
<output wsam:Action="http://webservices.sola.org/search/Search/GetExtentOfPublicDisplayMapResponse" message="tns:GetExtentOfPublicDisplayMapResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/search/Search/GetExtentOfPublicDisplayMap/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/search/Search/GetExtentOfPublicDisplayMap/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/search/Search/GetExtentOfPublicDisplayMap/Fault/SOLAAccessFault"/>
</operation>
<operation name="GetMapCenterLabel">
<input wsam:Action="http://webservices.sola.org/search/Search/GetMapCenterLabelRequest" message="tns:GetMapCenterLabel"/>
<output wsam:Action="http://webservices.sola.org/search/Search/GetMapCenterLabelResponse" message="tns:GetMapCenterLabelResponse"/>
<fault message="tns:SOLAFault" name="SOLAFault" wsam:Action="http://webservices.sola.org/search/Search/GetMapCenterLabel/Fault/SOLAFault"/>
<fault message="tns:UnhandledFault" name="UnhandledFault" wsam:Action="http://webservices.sola.org/search/Search/GetMapCenterLabel/Fault/UnhandledFault"/>
<fault message="tns:SOLAAccessFault" name="SOLAAccessFault" wsam:Action="http://webservices.sola.org/search/Search/GetMapCenterLabel/Fault/SOLAAccessFault"/>
</operation>
</portType>
<binding name="SearchPortBinding" type="tns:Search">
    <wsp:PolicyReference URI="#SearchPortBindingPolicy"/>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getApplicationLog">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="SearchParties">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="SearchSources">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="searchPowerOfAttorney">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetActiveUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="searchRightsForExport">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="searchBaUnit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="Select">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="searchUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="SearchBr">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="CheckConnection">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="VerifyApplicationProperty">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetUnassignedApplications">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetAssignedApplications">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="SearchApplications">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetSpatialSearchOptions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="SearchSpatialObjects">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetMapDefinition">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
</operation>
<operation name="GetExtentOfPublicDisplayMap">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
<operation name="GetMapCenterLabel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOLAFault">
<soap:fault name="SOLAFault" use="literal"/>
</fault>
<fault name="UnhandledFault">
<soap:fault name="UnhandledFault" use="literal"/>
</fault>
<fault name="SOLAAccessFault">
<soap:fault name="SOLAAccessFault" use="literal"/>
</fault>
</operation>
</binding>
<service name="search-service">
<port name="SearchPort" binding="tns:SearchPortBinding">
<soap:address location="http://localhost:8080/sola/webservices/search-service"/>
</port>
</service>
    <wsp:Policy wsu:Id="SearchPortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sc:TrustStore wspp:visibility="private" type="JKS" storepass="${wsit.truststore.storepass}" peeralias="${wsit.truststore.peeralias}" location="${wsit.truststore.location}"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>