web-services/src/main/java/META-INF/wsit-org.sola.services.boundary.ws.CaseManagement.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="casemanagement-service" targetNamespace="http%3A%2F%2Fwebservices.sola.org%2Fcasemanagement" xmlns:tns="http%3A%2F%2Fwebservices.sola.org%2Fcasemanagement" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service" xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sc="http://schemas.sun.com/2006/03/wss/server" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" 
 >
    <message name="CreateApplication"/>
    <message name="CreateApplicationResponse"/>
    <message name="SOLAFault"/>
    <message name="UnhandledFault"/>
    <message name="SaveApplication"/>
    <message name="SaveApplicationResponse"/>
    <message name="OptimisticLockingFault"/>
    <message name="GetAddress"/>
    <message name="GetAddressResponse"/>
    <message name="GetApplication"/>
    <message name="GetApplicationResponse"/>
    <message name="GetParty"/>
    <message name="GetPartyResponse"/>
    <message name="GetApplicationServices"/>
    <message name="GetApplicationServicesResponse"/>
    <message name="GetAgents"/>
    <message name="GetAgentsResponse"/>
    <message name="ChangeApplicationAssignment"/>
    <message name="ChangeApplicationAssignmentResponse"/>
    <message name="GetApplicationLog"/>
    <message name="GetApplicationLogResponse"/>
    <message name="CalculateFee"/>
    <message name="CalculateFeeResponse"/>
    <message name="AddApplicationAction"/>
    <message name="AddApplicationActionResponse"/>
    <portType name="CaseManagement">
        <operation name="CreateApplication">
            <input message="tns:CreateApplication"/>
            <output message="tns:CreateApplicationResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
        </operation>
        <operation name="SaveApplication">
            <input message="tns:SaveApplication"/>
            <output message="tns:SaveApplicationResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
            <fault name="OptimisticLockingFault" message="tns:OptimisticLockingFault"/>
        </operation>
        <operation name="GetAddress">
            <input message="tns:GetAddress"/>
            <output message="tns:GetAddressResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
        </operation>
        <operation name="GetApplication">
            <input message="tns:GetApplication"/>
            <output message="tns:GetApplicationResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
        </operation>
        <operation name="GetParty">
            <input message="tns:GetParty"/>
            <output message="tns:GetPartyResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
        </operation>
        <operation name="GetApplicationServices">
            <input message="tns:GetApplicationServices"/>
            <output message="tns:GetApplicationServicesResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
        </operation>
        <operation name="GetAgents">
            <input message="tns:GetAgents"/>
            <output message="tns:GetAgentsResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
        </operation>
        <operation name="ChangeApplicationAssignment">
            <input message="tns:ChangeApplicationAssignment"/>
            <output message="tns:ChangeApplicationAssignmentResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
            <fault name="OptimisticLockingFault" message="tns:OptimisticLockingFault"/>
        </operation>
        <operation name="GetApplicationLog">
            <input message="tns:GetApplicationLog"/>
            <output message="tns:GetApplicationLogResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
        </operation>
        <operation name="CalculateFee">
            <input message="tns:CalculateFee"/>
            <output message="tns:CalculateFeeResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
        </operation>
        <operation name="AddApplicationAction">
            <input message="tns:AddApplicationAction"/>
            <output message="tns:AddApplicationActionResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
            <fault name="OptimisticLockingFault" message="tns:OptimisticLockingFault"/>
        </operation>
    </portType>
    <binding name="CaseManagementPortBinding" type="tns:CaseManagement">
        <wsp:PolicyReference URI="#CaseManagementPortBindingPolicy"/>
        <operation name="CreateApplication">
            <input>
                <wsp:PolicyReference URI="#CaseManagementPortBinding_CreateApplication_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#CaseManagementPortBinding_CreateApplication_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
        </operation>
        <operation name="SaveApplication">
            <input>
                <wsp:PolicyReference URI="#CaseManagementPortBinding_CreateApplication_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#CaseManagementPortBinding_CreateApplication_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
            <fault name="OptimisticLockingFault"/>
        </operation>
        <operation name="GetAddress">
            <input>
                <wsp:PolicyReference URI="#CaseManagementPortBinding_CreateApplication_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#CaseManagementPortBinding_CreateApplication_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
        </operation>
        <operation name="GetApplication">
            <input>
                <wsp:PolicyReference URI="#CaseManagementPortBinding_CreateApplication_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#CaseManagementPortBinding_CreateApplication_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
        </operation>
        <operation name="GetParty">
            <input>
                <wsp:PolicyReference URI="#CaseManagementPortBinding_CreateApplication_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#CaseManagementPortBinding_CreateApplication_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
        </operation>
        <operation name="GetApplicationServices">
            <input>
                <wsp:PolicyReference URI="#CaseManagementPortBinding_CreateApplication_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#CaseManagementPortBinding_CreateApplication_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
        </operation>
        <operation name="GetAgents">
            <input>
                <wsp:PolicyReference URI="#CaseManagementPortBinding_CreateApplication_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#CaseManagementPortBinding_CreateApplication_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
        </operation>
        <operation name="ChangeApplicationAssignment">
            <input>
                <wsp:PolicyReference URI="#CaseManagementPortBinding_CreateApplication_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#CaseManagementPortBinding_CreateApplication_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
            <fault name="OptimisticLockingFault"/>
        </operation>
        <operation name="GetApplicationLog">
            <input>
                <wsp:PolicyReference URI="#CaseManagementPortBinding_CreateApplication_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#CaseManagementPortBinding_CreateApplication_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
        </operation>
        <operation name="CalculateFee">
            <input>
                <wsp:PolicyReference URI="#CaseManagementPortBinding_CreateApplication_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#CaseManagementPortBinding_CreateApplication_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
        </operation>
        <operation name="AddApplicationAction">
            <input>
                <wsp:PolicyReference URI="#CaseManagementPortBinding_CreateApplication_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#CaseManagementPortBinding_CreateApplication_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
            <fault name="OptimisticLockingFault"/>
        </operation>
    </binding>
    <service name="casemanagement-service">
        <port name="CaseManagementPort" binding="tns:CaseManagementPortBinding"/>
    </service>
    <wsp:Policy wsu:Id="CaseManagementPortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <wsam:Addressing wsp:Optional="false"/>
                <sp:SymmetricBinding>
                    <wsp:Policy>
                        <sp:ProtectionToken>
                            <wsp:Policy>
                                <sp:X509Token sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
                                    <wsp:Policy>
                                        <sp:WssX509V3Token10/>
                                        <sp:RequireIssuerSerialReference/>
                                    </wsp:Policy>
                                </sp:X509Token>
                            </wsp:Policy>
                        </sp:ProtectionToken>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp/>
                        <sp:OnlySignEntireHeadersAndBody/>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic128/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                    </wsp:Policy>
                </sp:SymmetricBinding>
                <sp:Wss11>
                    <wsp:Policy>
                        <sp:MustSupportRefIssuerSerial/>
                        <sp:MustSupportRefThumbprint/>
                        <sp:MustSupportRefEncryptedKey/>
                    </wsp:Policy>
                </sp:Wss11>
                <sp:SignedEncryptedSupportingTokens>
                    <wsp:Policy>
                        <sp:UsernameToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                            <wsp:Policy>
                                <sp:WssUsernameToken10/>
                            </wsp:Policy>
                        </sp:UsernameToken>
                    </wsp:Policy>
                </sp:SignedEncryptedSupportingTokens>
                <sc:KeyStore wspp:visibility="private" location="keystore.jks" type="JKS" storepass="changeit" alias="xws-security-server"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="CaseManagementPortBinding_CreateApplication_Input_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:EncryptedParts>
                    <sp:Body/>
                </sp:EncryptedParts>
                <sp:SignedParts>
                    <sp:Body/>
                    <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="AckRequested" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="SequenceAcknowledgement" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="Sequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="CreateSequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                </sp:SignedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="CaseManagementPortBinding_CreateApplication_Output_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:EncryptedParts>
                    <sp:Body/>
                </sp:EncryptedParts>
                <sp:SignedParts>
                    <sp:Body/>
                    <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="AckRequested" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="SequenceAcknowledgement" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="Sequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="CreateSequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                </sp:SignedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>
