web-services/src/main/java/META-INF/wsit-org.sola.services.boundary.ws.ReferenceData.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="referencedata-service" targetNamespace="http%3A%2F%2Fwebservices.sola.org%2Freferencedata" xmlns:tns="http%3A%2F%2Fwebservices.sola.org%2Freferencedata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service" xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sc="http://schemas.sun.com/2006/03/wss/server" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" 
 >
    <message name="GetCommunicationTypes"/>
    <message name="GetCommunicationTypesResponse"/>
    <message name="SOLAFault"/>
    <message name="UnhandledFault"/>
    <message name="GetAvailabilityStatusList"/>
    <message name="GetAvailabilityStatusListResponse"/>
    <message name="GetPresentationFormTypes"/>
    <message name="GetPresentationFormTypesResponse"/>
    <message name="GetRequestTypes"/>
    <message name="GetRequestTypesResponse"/>
    <message name="GetSourceTypes"/>
    <message name="GetSourceTypesResponse"/>
    <message name="GetApplicationStatusTypes"/>
    <message name="GetApplicationStatusTypesResponse"/>
    <message name="GetRequestTypeSourceTypes"/>
    <message name="GetRequestTypeSourceTypesResponse"/>
    <portType name="ReferenceData">
        <operation name="GetCommunicationTypes">
            <input message="tns:GetCommunicationTypes"/>
            <output message="tns:GetCommunicationTypesResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
        </operation>
        <operation name="GetAvailabilityStatusList">
            <input message="tns:GetAvailabilityStatusList"/>
            <output message="tns:GetAvailabilityStatusListResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
        </operation>
        <operation name="GetPresentationFormTypes">
            <input message="tns:GetPresentationFormTypes"/>
            <output message="tns:GetPresentationFormTypesResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
        </operation>
        <operation name="GetRequestTypes">
            <input message="tns:GetRequestTypes"/>
            <output message="tns:GetRequestTypesResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
        </operation>
        <operation name="GetSourceTypes">
            <input message="tns:GetSourceTypes"/>
            <output message="tns:GetSourceTypesResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
        </operation>
        <operation name="GetApplicationStatusTypes">
            <input message="tns:GetApplicationStatusTypes"/>
            <output message="tns:GetApplicationStatusTypesResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
        </operation>
        <operation name="GetRequestTypeSourceTypes">
            <input message="tns:GetRequestTypeSourceTypes"/>
            <output message="tns:GetRequestTypeSourceTypesResponse"/>
            <fault name="SOLAFault" message="tns:SOLAFault"/>
            <fault name="UnhandledFault" message="tns:UnhandledFault"/>
        </operation>
    </portType>
    <binding name="ReferenceDataPortBinding" type="tns:ReferenceData">
        <wsp:PolicyReference URI="#ReferenceDataPortBindingPolicy"/>
        <operation name="GetCommunicationTypes">
            <input>
                <wsp:PolicyReference URI="#ReferenceDataPortBinding_GetCommunicationTypes_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#ReferenceDataPortBinding_GetCommunicationTypes_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
        </operation>
        <operation name="GetAvailabilityStatusList">
            <input>
                <wsp:PolicyReference URI="#ReferenceDataPortBinding_GetCommunicationTypes_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#ReferenceDataPortBinding_GetCommunicationTypes_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
        </operation>
        <operation name="GetPresentationFormTypes">
            <input>
                <wsp:PolicyReference URI="#ReferenceDataPortBinding_GetCommunicationTypes_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#ReferenceDataPortBinding_GetCommunicationTypes_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
        </operation>
        <operation name="GetRequestTypes">
            <input>
                <wsp:PolicyReference URI="#ReferenceDataPortBinding_GetCommunicationTypes_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#ReferenceDataPortBinding_GetCommunicationTypes_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
        </operation>
        <operation name="GetSourceTypes">
            <input>
                <wsp:PolicyReference URI="#ReferenceDataPortBinding_GetCommunicationTypes_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#ReferenceDataPortBinding_GetCommunicationTypes_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
        </operation>
        <operation name="GetApplicationStatusTypes">
            <input>
                <wsp:PolicyReference URI="#ReferenceDataPortBinding_GetCommunicationTypes_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#ReferenceDataPortBinding_GetCommunicationTypes_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
        </operation>
        <operation name="GetRequestTypeSourceTypes">
            <input>
                <wsp:PolicyReference URI="#ReferenceDataPortBinding_GetCommunicationTypes_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#ReferenceDataPortBinding_GetCommunicationTypes_Output_Policy"/>
            </output>
            <fault name="SOLAFault"/>
            <fault name="UnhandledFault"/>
        </operation>
    </binding>
    <service name="referencedata-service">
        <port name="ReferenceDataPort" binding="tns:ReferenceDataPortBinding"/>
    </service>
    <wsp:Policy wsu:Id="ReferenceDataPortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <wsam:Addressing wsp:Optional="false"/>
                <sp:SymmetricBinding>
                    <wsp:Policy>
                        <sp:ProtectionToken>
                            <wsp:Policy>
                                <sp:X509Token sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
                                    <wsp:Policy>
                                        <sp:WssX509V3Token10/>
                                        <sp:RequireIssuerSerialReference/>
                                    </wsp:Policy>
                                </sp:X509Token>
                            </wsp:Policy>
                        </sp:ProtectionToken>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp/>
                        <sp:OnlySignEntireHeadersAndBody/>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic128/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                    </wsp:Policy>
                </sp:SymmetricBinding>
                <sp:Wss11>
                    <wsp:Policy>
                        <sp:MustSupportRefIssuerSerial/>
                        <sp:MustSupportRefThumbprint/>
                        <sp:MustSupportRefEncryptedKey/>
                    </wsp:Policy>
                </sp:Wss11>
                <sp:SignedEncryptedSupportingTokens>
                    <wsp:Policy>
                        <sp:UsernameToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                            <wsp:Policy>
                                <sp:WssUsernameToken10/>
                            </wsp:Policy>
                        </sp:UsernameToken>
                    </wsp:Policy>
                </sp:SignedEncryptedSupportingTokens>
                <sc:KeyStore wspp:visibility="private" location="keystore.jks" type="JKS" storepass="changeit" alias="xws-security-server"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="ReferenceDataPortBinding_GetCommunicationTypes_Input_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:EncryptedParts>
                    <sp:Body/>
                </sp:EncryptedParts>
                <sp:SignedParts>
                    <sp:Body/>
                    <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="AckRequested" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="SequenceAcknowledgement" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="Sequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="CreateSequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                </sp:SignedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="ReferenceDataPortBinding_GetCommunicationTypes_Output_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:EncryptedParts>
                    <sp:Body/>
                </sp:EncryptedParts>
                <sp:SignedParts>
                    <sp:Body/>
                    <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="AckRequested" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="SequenceAcknowledgement" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="Sequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="CreateSequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                </sp:SignedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>
